@charset "UTF-8";
@import "mixin";
@import "variable";
@import "function";

html,
body {
width: 100%;
margin: 0;
padding: 0;
font-size: 62.5%;
}
body {
width: 100%;
margin: 0;
color: #000;
font-family:"Yu Gothic Medium", "游ゴシック Medium", YuGothic, "游ゴシック体", "ヒラギノ角ゴ Pro W3", "メイリオ", sans-serif;
font-weight: 500;
}

body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td {
margin: 0;
padding: 0;
}
.pc{
	display:none !important;
}
*,
*:before,
*:after {
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
-o-box-sizing: border-box;
-ms-box-sizing: border-box;
box-sizing: border-box;
}
a{
	text-decoration: none;
	color: inherit;
}
img{
    max-width: 100%;
}

#loader-bg {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  background: #f4f4f4;
  z-index: 1;
}
#loader {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  width: 60px;
  height: 60px;
  margin-top: -30px;
  margin-left: -30px;
  text-align: center;
  color: #fff;
  z-index: 2;
}
//loading画像
.fulfilling-bouncing-circle-spinner, .fulfilling-bouncing-circle-spinner * {
      box-sizing: border-box;
    }

    .fulfilling-bouncing-circle-spinner {
      height: 60px;
      width: 60px;
      position: relative;
      animation: fulfilling-bouncing-circle-spinner-animation infinite 4000ms ease;
    }

    .fulfilling-bouncing-circle-spinner .orbit {
      height: 60px;
      width: 60px;
      position: absolute;
      top: 0;
      left: 0;
      border-radius: 50%;
      border: calc(60px * 0.03) solid #ec7b3f;
      animation: fulfilling-bouncing-circle-spinner-orbit-animation infinite 4000ms ease;
    }

    .fulfilling-bouncing-circle-spinner .circle {
      height: 60px;
      width: 60px;
      color: #ff1d5e;
      display: block;
      border-radius: 50%;
      position: relative;
      border: calc(60px * 0.1) solid #ec7b3f;
      animation: fulfilling-bouncing-circle-spinner-circle-animation infinite 4000ms ease;
      transform: rotate(0deg) scale(1);
    }

    @keyframes fulfilling-bouncing-circle-spinner-animation {
      0% {
        transform: rotate(0deg);
      }

      100% {
        transform: rotate(360deg);
      }
    }

    @keyframes fulfilling-bouncing-circle-spinner-orbit-animation {
      0% {
        transform: scale(1);
      }
      50% {
        transform: scale(1);
      }
      62.5% {
        transform: scale(0.8);
      }
      75% {
        transform: scale(1);
      }
      87.5% {
        transform: scale(0.8);
      }
      100% {
        transform: scale(1);
      }
    }

    @keyframes fulfilling-bouncing-circle-spinner-circle-animation {
      0% {
        transform: scale(1);
        border-color: transparent;
        border-top-color: inherit;
      }
      16.7% {
        border-color: transparent;
        border-top-color: initial;
        border-right-color: initial;
      }
      33.4% {
        border-color: transparent;
        border-top-color: inherit;
        border-right-color: inherit;
        border-bottom-color: inherit;
      }
      50% {
        border-color: inherit;
        transform: scale(1);
      }
      62.5% {
        border-color: inherit;
        transform: scale(1.4);
      }
      75% {
        border-color: inherit;
        transform: scale(1);
        opacity: 1;
      }
      87.5% {
        border-color: inherit;
        transform: scale(1.4);
      }
      100% {
        border-color: transparent;
        border-top-color: inherit;
        transform: scale(1);
      }
    }

.fadein {
  opacity : 0;
  transform : translate(0, 100px);
  transition : all 1s;
}
 
.fadein.active{
  opacity : 1;
  transform : translate(0, 0);
}


#wrapper{
    background: #fff;
}
.header {
    width: 100%;
    height: 60px;
    background: #fff; 
    .inner {
        max-height: 54px;
         padding:4% 0 0 4%;
               
        h1 {
            width: 45%;
            height: auto;
            float: left;
            img{
                max-height: 35px;
            }
        }
        &::after{
            content: "";
            clear: both;
            display: block;
        }
    }
}

.main-image {
    width: 100%;
    height: auto;
    img {
        width: 100%;
        height: auto;
    }
}

.intro {
    margin: 0 auto;
    padding: 30px 15px 50px;
    .txt {
        width:100%;
        p.title {
            @include fz(15);
            margin-bottom: 30px;
            padding-left: 20px;
            border-left: $green solid 5px;
            font-weight: bold;
        }
        p{
            @include fz(15);
        }
    }
    .image{
        margin-top: 20px;
        img{
            width: 100%;
            height: auto;
        }
    }
}

.top-business {
  padding: 0 15px;
    margin: 0 auto;
    text-align: center;
    h3 {
        @include fz(22);
        text-align: center;
        margin: 0 auto 30px;
        text-align: center;
        border-bottom: 4px solid $green;
        font-weight: bold;
        display: inline-block;
        text-align: center;
        padding-bottom: 5px;
        line-height: 1;
        span {
            color: #a0a0a0;
            @include fz(10);
        }
    }
    h4 {
        width: 100%;
        padding:5px 0;
        @include fz(15);
        background: $green;
        color: #fff;
        font-weight: normal;
    }
}

.box-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 20px;
    a{
        width: 49%;
        line-height: 1.2;
        border: 1px $green solid;
        display: block;
        &:hover .box{
                       opacity: 0.7;
                   }
    .box {
        width: 100%;       
        text-align: center;
        p.title {
            background: $green;
            display: block;
            padding: 2px 0;
            color: #fff;
            @include fz(13);
        }
        p.col1 {
            display: inline-block;
            padding: 8% 2% 8% 8%;
            position: relative;
             color: $green;
            img.arrow {
                position: absolute;
               left: 1%;
                top: 40%;
                width: 8px;
                height: auto;
                 @include fz(10);
            }
        }
        p.col2 {
             display: inline-block;
            text-align: left;
             padding: 8% 2% 8% 8%;
            position: relative;
             color: $green;
            img.arrow {
                position: absolute;
                left: 1%;
                top: 42%;
                width: 8px;
                height: auto;
                 @include fz(10);
            }
        }
    }
    }
    .wrap-half {
        width: 100%;
        margin-bottom: 20px;
        &:nth-of-type(1) {
            h4 {
                background: #97be5e;
                margin-bottom: 20px;
            }
            .wrap-inner {
                display: flex;
                justify-content: space-between;
               a {
                   border: 1px solid #97be5e;
                   &:hover .box{
                       opacity: 0.7;
                   }
                .box {
                    width: 100%;
                    p.title {
                        background: #97be5e;
                    }
                    p.col1 {
                        color: #97be5e;
                    }
                }
            }}
        }
        &:nth-of-type(2) {
            h4 {
                background: #3da875;
                margin-bottom: 20px;
            }
            .wrap-inner {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                a{
                border: 1px solid #3da875;
                    margin-bottom: 10px;
                .box {
                   width: 100%;
                    
                    p.title {
                        background: #3da875;
                    }
                     p.col1{
                        color: #3da875;
                    }
                    p.col2{
                        color: #3da875;
                    }
                }
                }
            }
        }
        &:nth-of-type(3) {
            h4 {
                background: #81b37a;
                margin-bottom: 20px;
            }
            .wrap-inner {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                a{
                    border: 1px solid #81b37a;
                .box {
                    
                   width: 100%;
                    p.title {
                        background: #81b37a;
                    }
                    p.col1{
                        color: #81b37a;
                    }
                }
                }
            }
        }
        &:nth-of-type(4) {
            h4 {
                background: #6daa4b;
                margin-bottom: 20px;
            }
            .wrap-inner {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                a{                                       border: 1px solid #6daa4b;               
                .box {
                    width: 100%;
                    p.title {
                        background: #6daa4b;
                    }
                    p.col1{
                        color: #6daa4b;
                    }
                }
                }
            }
        }
        &:nth-of-type(5) {
            h4 {
                background: #69a661;
                margin-bottom: 20px;
            }
            .wrap-inner {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                a{
                border: 1px solid #69a661;

                }
                .box {
                    width: 100%;
                    p.title {
                        background: #69a661;
                    }
                    p.col1{
                        color: #69a661;
                    }
                }
            }
        }
    }
}

.top-voice {
    width: 100%;
    background: #dffadc;
    margin-top: 40px;
    padding: 50px 0 5px;
    text-align: center;
    h3 {
        @include fz(22);
        text-align: center;
        margin: 0 auto 30px;
        text-align: center;
        border-bottom: 4px solid $green;
        font-weight: bold;
        display: inline-block;
        text-align: center;
        padding-bottom: 5px;
        line-height: 1;
        span {
            color: #a0a0a0;
            @include fz(10);
        }
    }
    .inner {
      padding: 0 15px;
        margin: 0 auto;
        .box {
            width: 100%;
            .image {
                width: 65vw;
                height: 65vw;
                border-radius: 50%;
                overflow: hidden;
                margin: 0 auto;
                border: 5px #fff solid;
                img {
                    width: 100%;
                    height: auto;
                    &:hover {
                        opacity: 0.7;
                    }
                }
            }
            p.title {
                margin-top: 10px;
                background: #fff;
                text-align: center;
                padding:10px 20px;
                margin-bottom: 20px;
                line-height: 1.5;
                a{
                    @include fz(14);
                    &:hover {
                        color:$green;
                    }
                }
            }
            p {
                margin: 20px 0 50px;
                 @include fz(14);
                line-height: 2;
                text-align: left;
            }
        }
    }
}

.top-news {
    margin-top: 54px;
    width: 100%;
    margin-top: 40px;
    text-align: center;
    h3 {
        @include fz(22);
        text-align: center;
        margin: 0 auto 30px;
        text-align: center;
        border-bottom: 4px solid $green;
        font-weight: bold;
        display: inline-block;
        text-align: center;
        padding-bottom: 5px;
        line-height: 1;
        span {
            color: #a0a0a0;
            @include fz(10);
        }
    }
    .inner {
        margin: 0 auto;
        background: #f8f8f8;
        padding: 4% 15px;
        dl {
            border-bottom: 1px solid #d2d2d2;
            margin-bottom: 15px;
          padding: 0 2%;
            dt {
                width: 100%;
                text-align: left;
                padding: 12px 0 0;
                color: #333;
                @include fz(15);
                
            }
            dd {
                width: 100%;
                text-align: left;
                padding: 5px 0 12px;
                color: #333;
                font-weight: bold;
                @include fz(15);
                a{
                    &:hover{
                        color: $green;
                    }
                }
            }
            &:nth-last-child(1){
            border-bottom: none;
            }
        }
    }
    .for-archive {
        text-align: center;
        margin: 30px auto 64px;
        a {
            position: relative;
            display: block;
            width: 80%;
            color: #fff;
            @include fz(15);
            background: $green;
            padding:5px 0;
            margin: 0 auto;
            &::after {
                content: ">";
                right: 10px;
                position: absolute;
            }
            &:hover{
                background: #aaa;
                color: #666;
                font-weight: bold;
            }
        }
    }
}

footer {
    .f-link {
        width: 100%;
        background: $green;
        padding-top:17px;
        height: 45px;
        color: #fff;
        small {
            text-align: center;
            @include fz(10);
            display: block;
        }
    }
}