@charset "UTF-8";
@import "mixin";
@import "variable";
@import "function";

/*
#overview
Gulp入門サンプル

サンプルファイルです
*/
/*#styleguide
サンプル見出し1gul

```
<h1>見出し1</h1>
```
*/
html,
body {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	font-size: 62.5%;
	min-width: 1200px;
}

body {
	width: 100%;
	margin: 0;
	color: #000;
	font-family: "Yu Gothic Medium", "游ゴシック Medium", YuGothic, "游ゴシック体", "ヒラギノ角ゴ Pro W3", "メイリオ", sans-serif;
	font-weight: 500;
}

body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
textarea,
p,
blockquote,
th,
td {
	margin: 0;
	padding: 0;
}

p {
	@include fz(14);
	line-height: 1.8;
}

*,
*:before,
*:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}

a {
	text-decoration: underline;
	color: inherit;
}

/* 好みで使用してください
p, dl, dt, dd, ul, li{
    line-height: 1.5;
    font-feature-settings : "palt";
    text-align:justify; 
    text-justify: inter-ideograph;
}
*/
img {
	border: none;
}

.sp {
	display: none !important;
	
}

#loader-bg {
	display: none;
	position: fixed;
	width: 100%;
	height: 100vh;
	overflow: hidden;
	top: 0px;
	left: 0px;
	background: #f4f4f4;
	z-index: 1;
}

#loader {
	display: none;
	position: fixed;
	top: 50%;
	left: 50%;
	width: 60px;
	height: 60px;
	margin-top: -30px;
	margin-left: -30px;
	text-align: center;
	color: #fff;
	z-index: 2;
}

//loading画像
.fulfilling-bouncing-circle-spinner,
.fulfilling-bouncing-circle-spinner * {
	box-sizing: border-box;
}

.fulfilling-bouncing-circle-spinner {
	height: 60px;
	width: 60px;
	position: relative;
	animation: fulfilling-bouncing-circle-spinner-animation infinite 4000ms ease;
}

.fulfilling-bouncing-circle-spinner .orbit {
	height: 60px;
	width: 60px;
	position: absolute;
	top: 0;
	left: 0;
	border-radius: 50%;
	border: calc(60px * 0.03) solid #ec7b3f;
	animation: fulfilling-bouncing-circle-spinner-orbit-animation infinite 4000ms ease;
}

.fulfilling-bouncing-circle-spinner .circle {
	height: 60px;
	width: 60px;
	color: #ec7b3f;
	display: block;
	border-radius: 50%;
	position: relative;
	border: calc(60px * 0.1) solid #ec7b3f;
	animation: fulfilling-bouncing-circle-spinner-circle-animation infinite 4000ms ease;
	transform: rotate(0deg) scale(1);
}

@keyframes fulfilling-bouncing-circle-spinner-animation {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}

@keyframes fulfilling-bouncing-circle-spinner-orbit-animation {
	0% {
		transform: scale(1);
	}

	50% {
		transform: scale(1);
	}

	62.5% {
		transform: scale(0.8);
	}

	75% {
		transform: scale(1);
	}

	87.5% {
		transform: scale(0.8);
	}

	100% {
		transform: scale(1);
	}
}

@keyframes fulfilling-bouncing-circle-spinner-circle-animation {
	0% {
		transform: scale(1);
		border-color: transparent;
		border-top-color: inherit;
	}

	16.7% {
		border-color: transparent;
		border-top-color: initial;
		border-right-color: initial;
	}

	33.4% {
		border-color: transparent;
		border-top-color: inherit;
		border-right-color: inherit;
		border-bottom-color: inherit;
	}

	50% {
		border-color: inherit;
		transform: scale(1);
	}

	62.5% {
		border-color: inherit;
		transform: scale(1.4);
	}

	75% {
		border-color: inherit;
		transform: scale(1);
		opacity: 1;
	}

	87.5% {
		border-color: inherit;
		transform: scale(1.4);
	}

	100% {
		border-color: transparent;
		border-top-color: inherit;
		transform: scale(1);
	}
}

#wrapper {
	display: none;
}

.fadein {
	opacity: 0;
	transform: translate(0, 100px);
	transition: all 1s;
}

.fadein.active {
	opacity: 1;
	transform: translate(0, 0);
}

//ここから下に書き始めてください。
.header {
	height: 120px;
	width: 100%;
	background: #fff;

	.inner {
		padding: 28px 120px;
		display: flex;
		justify-content: space-between;

		h1 {
			width: 243px;
		}

		nav ul {
			display: flex;
			align-items: center;

			li {
				list-style-type: none;

				a {
					padding: 25px;
					@include fz(14);
					display: block;

					&:hover {
						background: #f4f4f4;
					}
				}
			}
		}
	}
}

.main-image {
	width: 100%;
	height: auto;

	img {
		width: 100%;
		height: auto;
	}
}

.intro {
	width: 1200px;
	margin: 0 auto;
	padding: 60px 0;
	display: flex;
	justify-content: space-between;

	.txt {
		width: 600px;
		padding-top: 40px;

		p.title {
			@include fz(30);
			margin-bottom: 60px;
			padding-left: 20px;
			border-left: $green solid 5px;
		}
	}
}

.top-business {
	width: 1200px;
	margin: 0 auto;
	text-align: center;

	h3 {
		@include fz(26);
		text-align: center;
		margin: 0 auto 30px;
		text-align: center;
		border-bottom: 4px solid $green;
		font-weight: bold;
		display: inline-block;
		text-align: center;
		padding-bottom: 10px;

		span {
			color: #a0a0a0;
			@include fz(16);
		}
	}

	h4 {
		width: 100%;
		padding: 15px 0;
		@include fz(20);
		background: $green;
		color: #fff;
		font-weight: normal;
	}
}

.box-wrap {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding-top: 20px;

	a {
		&:hover .box {
			opacity: 0.7;
		}

		.box {
			width: 382px;
			margin-bottom: 20px;
			border: 1px $green solid;
			height: 120px;
			text-align: center;

			p.title {
				background: $green;
				display: block;
				padding: 2px 0;
				color: #fff;
			}

			p.col1 {
				display: inline-block;
				margin-top: 20px;
				color: $green;
			}

			p.col2 {
				margin-top: 10px;
				display: inline-block;
				text-align: left;
				color: $green;
			}

			p.col1 {
				padding-left: 24px;
				position: relative;

				img.arrow {
					position: absolute;
					left: 0;
					top: 3px;
				}
			}

			p.col2 {
				padding-left: 24px;
				position: relative;

				img.arrow {
					position: absolute;
					left: 0;
					top: 34%;
				}
			}
		}
	}

	.wrap-half {
		width: 580px;
		margin-bottom: 20px;

		&:nth-of-type(1) {
			h4 {
				background: #97be5e;
				margin-bottom: 20px;
			}

			.wrap-inner {
				display: flex;
				justify-content: space-between;

				a {
					&:hover .box {
						opacity: 0.7;
					}

					.box {
						border: 1px solid #97be5e;
						width: 278px;

						p.title {
							background: #97be5e;
						}

						p.col1 {
							color: #97be5e;
						}
					}
				}
			}
		}

		&:nth-of-type(2) {
			h4 {
				background: #3da875;
				margin-bottom: 20px;
			}

			.wrap-inner {
				display: flex;
				flex-wrap: wrap;
				justify-content: space-between;

				.box {
					border: 1px solid #3da875;
					width: 278px;

					p.title {
						background: #3da875;
					}

					p.col1 {
						color: #3da875;
					}

					p.col2 {
						color: #3da875;
					}
				}
			}
		}

		&:nth-of-type(3) {
			h4 {
				background: #81b37a;
				margin-bottom: 20px;
			}

			.wrap-inner {
				display: flex;
				flex-wrap: wrap;
				justify-content: space-between;

				.box {
					border: 1px solid #81b37a;
					width: 278px;

					p.title {
						background: #81b37a;
					}

					p.col1 {
						color: #81b37a;
					}
				}
			}
		}

		&:nth-of-type(4) {
			h4 {
				background: #6daa4b;
				margin-bottom: 20px;
			}

			.wrap-inner {
				display: flex;
				flex-wrap: wrap;
				justify-content: space-between;

				.box {
					border: 1px solid #6daa4b;
					width: 278px;

					p.title {
						background: #6daa4b;
					}

					p.col1 {
						color: #6daa4b;
					}
				}
			}
		}

		&:nth-of-type(5) {
			h4 {
				background: #69a661;
				margin-bottom: 20px;
			}

			.wrap-inner {
				display: flex;
				flex-wrap: wrap;
				justify-content: space-between;

				.box {
					border: 1px solid #69a661;
					width: 278px;

					p.title {
						background: #69a661;
					}

					p.col1 {
						color: #69a661;
					}
				}
			}
		}
	}
}

.top-voice {
	width: 100%;
	background: #dffadc;
	margin-top: 100px;
	padding-top: 50px;
	text-align: center;

	h3 {
		@include fz(26);
		text-align: center;
		margin: 0 auto 30px;
		text-align: center;
		border-bottom: 4px solid $green;
		font-weight: bold;
		display: inline-block;
		text-align: center;
		padding-bottom: 10px;

		span {
			color: #a0a0a0;
			@include fz(16);
		}
	}

	.inner {
		width: 1200px;
		margin: 0 auto;
		display: flex;
		justify-content: space-between;

		.box {
			width: 360px;

			.image {
				width: 100%;
				height: auto;
				border-radius: 50%;
				overflow: hidden;

				img {
					width: 100%;
					height: auto;

					&:hover {
						opacity: 0.7;
					}
				}
			}

			p.title {
				margin-top: 10px;
				background: #fff;
				text-align: center;
				padding: 5px 10px;

				a {
					&:hover {
						color: $green;
					}
				}
			}

			p {
				margin: 20px 0 50px;
			}
		}
	}
}

.top-news {
	margin-top: 54px;
	width: 100%;
	margin-top: 100px;
	text-align: center;

	h3 {
		@include fz(26);
		text-align: center;
		margin: 0 auto 30px;
		text-align: center;
		border-bottom: 4px solid $green;
		font-weight: bold;
		display: inline-block;
		text-align: center;
		padding-bottom: 10px;

		span {
			color: #a0a0a0;
			@include fz(16);
		}
	}

	.inner {
		width: 1200px;
		margin: 0 auto;
		background: #f8f8f8;
		padding: 50px 100px;

		dl {
			border-bottom: 1px solid #d2d2d2;
			display: flex;
			margin-bottom: 15px;

			dt {
				width: 145px;
				text-align: left;
				padding: 12px;
				color: #333;
				@include fz(16);
			}

			dd {
				width: 855px;
				text-align: left;
				padding: 12px 0;
				color: #333;
				font-weight: bold;
				@include fz(16);

				a {
					&:hover {
						color: $green;
					}
				}
			}
		}
	}

	.for-archive {
		text-align: center;
		margin: 30px auto 110px;

		a {
			position: relative;
			display: block;
			width: 300px;
			color: #fff;
			@include fz(20);
			background: $green;
			padding: 14px 0;
			border-radius: 5px;
			margin: 0 auto;

			&::after {
				content: ">";
				right: 10px;
				position: absolute;
			}

			&:hover {
				background: #aaa;
				color: #666;
				font-weight: bold;
			}
		}
	}
}

footer {
	.f-nav {
		width: 100%;
		background: $green;
		padding: 40px 0;

		ul {
			display: flex;
			justify-content: center;
			align-items: center;
			color: #fff;

			li {
				padding: 0 30px;
				list-style: none;

				a {
					color: #fff;
					@include fz(14);
					border-bottom: none;

					&:hover {
						color: #ee0;
					}
				}
			}
		}
	}

	.f-link {
		margin: 25px auto 15px;
		position: relative;
		width: 1200px;

		ul {
			position: absolute;
			left: 0;
			display: flex;

			li {
				padding: 0 20px;
				list-style: none;

				a {
					@include fz(14);

					&:hover {
						color: $green;
					}
				}
			}
		}

		small {
			text-align: center;
			@include fz(14);
			display: block;
		}
	}
}

#page_top {
	position: fixed;
	bottom: 30px;
	right: 30px;
	width: 100px;
	height: 100px;
	border-radius: 50px;
	background: rgba(191, 127, 63, 0.8);
}

#page_top a {
	display: block;
	width: 100px;
	height: 100px;
	padding-top: 38px;
	font-size: 16px;
	color: #fff;
	text-align: center;
}

//リキッドレイアウトの時はこちらを
@include media(320, 767) {
	.wrap {
		width: 100%;
	}
}
