@charset "UTF-8";
$rent-color: rgba(131, 187, 133, 0.2);
$rent-primary: darken( #ade4ce, 35%);
$buy-color: rgba(144, 182, 212, 0.3);
$buy-primary: rgb(29, 97, 149);

// -------- Colors ------------------------------
$color2: #F8B62E; // orange
$color3: #ea5614; // pale orange
$color4: #00A0E9; // light blue
$color5: #00323c; // dark ocean green

// cardの中にimg-fluidが入っているとie11でレイアウトが崩れるためdisplay:blockを入れて対応
.card {
    display: block;
}

@mixin customCheckbox() {
    // Custom checkbox and radio button style when logged out
    // not on smartphone because of an android bug
    @media screen and(min-width: 480px){
        input[type=checkbox]{
            border: 1px solid #b4b9be;
            background: #fff;
            color: #555;
            clear: none;
            cursor: pointer;
            display: inline-block;
            line-height: 0;
            height: 20px;
            margin: -2px 4px 0 0;
            outline: 0;
            padding: 0!important;
            text-align: center;
            vertical-align: middle;
            width: 20px;
            min-width: 20px;
            appearance: none;
            -webkit-appearance: none;
            -moz-appearance: none;
            -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
            -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
            box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
            -webkit-transition: .05s border-color ease-in-out;
            -moz-transition: .05s border-color ease-in-out;
            transition: .05s border-color ease-in-out;

            &:disabled {
                border: 1px solid #eee;
            }

            &:checked {
                border: 1px solid transparent;
                outline: none;
            }

            &:checked::-ms-check {
                content: "\2714";
                font-size: 8px;
                outline: none;
                margin: 0px 0 0 0px !important;
                color: #fff;
                // background-color: #255f92;
                background-color: #555;
            }
        }
        input[type=checkbox]:checked:before {
            content: "\2714";
            font-size: 8px;
            margin: 0px 0 0 0px !important;
            color: orange;
            float: left;
            display: inline-block;
            vertical-align: middle;
            width: 20px;
            height: 20px;
            // background: #255f92;
            background: #000;
            color: #fff;
            font: 400 17px/1 dashicons;
            padding-top:2px;
            speak: none;
            -webkit-font-smoothing: antialiased;
            -moz-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
        }

        input[type=checkbox]:disabled {
            opacity: 0.65;
            cursor: default;
        }
    }
}
@mixin customRadio() {
    // Custom checkbox and radio button style when logged out
    // not on smartphone because of an android bug
    @media screen and(min-width: 480px) {
        input[type=radio] {
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            border-radius: 50%;
            line-height: 10px;
            border: 1px solid #b4b9be;
            background: #fff;
            color: #555;
            clear: none;
            cursor: pointer;
            display: inline-block;
            line-height: 0;
            height: 16px;
            margin: -2px 4px 0 0;
            outline: 0;
            padding: 0 !important;
            text-align: center;
            vertical-align: middle;
            width: 16px;
            min-width: 16px;
            -webkit-appearance: none;
            -moz-appearance: none;
            -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, .1);
            -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, .1);
            box-shadow: inset 0 1px 2px rgba(0, 0, 0, .1);
            -webkit-transition: .05s border-color ease-in-out;
            -moz-transition: .05s border-color ease-in-out;
            transition: .05s border-color ease-in-out;
            &:disabled {
                border: 1px solid #eee;
            }
            &:checked {
                border: 1px solid #000;
                outline: none;
            }
        }
        input[type=radio]:checked:before{
            text-align: center;
            display: inline-block;
            vertical-align: middle;
            width: 8px;
            height: 8px;
            // background: #255f92;
            color: #fff;
            font: 400 10px/1 dashicons;
            speak: none;
            -webkit-font-smoothing: antialiased;
            -moz-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
            content: "";
            text-indent: -9999px;
            -webkit-border-radius: 50px;
            -moz-border-radius: 50px;
            border-radius: 50px;
            font-size: 10px;
            // width: 10px;
            // height: 10px;
            margin-top: 3px;
            line-height: 16px;
            background-color: #000;
        }
    }
}
@include customCheckbox;
@include customRadio;


%toolbar {
    &:hover {
        .separator {
            color: transparent;
        }
    }
    .control-wrapper {
        height: 100%;
    }

    .separator {
        color: #000;
    }

    .control-area {
        display: block;
        height: 100%;
        text-decoration: none;
        transition: 0.2s cubic-bezier(0.165, 0.84, 0.44, 1);

        i {
            font-size: 18px;
        }
    }

    .page-close {
        background-color: #000;
        font-size: 0.9rem;
        color: #fff;

        &:hover {
            background-color: darken(#000, 5%);
        }

        i {
            padding-right: 5px;
        }
    }

    .company-info, .download {
        i {
            font-size: 18px;
        }

        &:hover {
            background-color: #000;
            color: #fff;
        }
    }
}

%detail-info {

    padding: 0;

    .info-table {
        width: 100%;
        border: solid 1px #e7eaec;
    }
    .info-label {
        width: 180px;
        background-color: #eee;
        padding: 5px 5px;
        font-weight: bold;
        vertical-align: top;
    }
    .info-val {
        vertical-align: top;
        padding: 5px 5px;
        border: solid 1px #e7eaec;
    }
    .info-under{
        margin-top:20px;
    }
    .under-label {
        width: 180px;
        background-color: #eee;
        padding: 5px 5px;
        font-weight: bold;
        vertical-align: top;
    }
    .under-val {
        vertical-align: top;
        padding: 5px 5px;
        border: solid 1px #e7eaec;
    }

    .price {
        font-weight: bold;
        font-size: 1.2rem;
        color: red;
    }
}

%props-ranking {
    canvas {
        margin-left: -10px;
    }

    i.fa-crown {
        color: #ebb70c;
    }

    .list-item {
        padding: 0;
        margin-bottom: 10px;
        font-size: 12px;

        .badge, .price {
            font-size: 12px;
        }

        .badge-buy {
            background-color: lighten(rgba(29, 97, 149, 0.3), 20%);
            font-weight: normal;
        }

        .badge-rent {
            background-color: rgba($rent-primary, 0.4);
            font-weight: normal;
        }

        a {
            text-decoration: none;
            color: inherit;
        }
    }

    .legend-wrapper {
        .bar {
            vertical-align: middle;
            display: inline-block;
            width: 50px;
            height: 20px;
            margin-right: 10px;

            &.private {
                background: rgba(30, 91, 126, 0.2);
            }
            &.public {
                background: rgba(201, 200, 28, 0.25);
            }
        }

        .label {
            margin-right: 20px;
        }
    }
}

%detail-page {

    &.public {
        @media (min-width: 992px) {
            margin: 100px 0 100px 0;
        }
    }

    .page-title {
        font-size: 1.5rem;
        // border-bottom: 1px solid #ccc;
        padding-bottom: 5px;
        font-weight: bold;
        .badge {
            white-space: pre-wrap;
        }
    }

    .title-hr {
        margin-top: 0;
    }

    .icon-btn {
        a {
            font-size: 25px;
            color: #999;
        }
    }

    .sales-point {
        margin-bottom: 25px;
    }

    @extend %detail-info;

    .company-info-block {
        margin-top: 15px;
        display: none;

        &.company-info-block-display {
            display: block;
        }

        .inner {
            border: 4px solid rgba(#000, 0.08);
            padding: 15px;

            .company-title {
                font-size: 125%;
                font-weight: bold;
                margin-bottom: 0.3em;

                span {
                    display: inline-block;
                    background: rgba(#000, 0.08);
                    padding: 6px 12px;
                    margin-top: -2px;
                    margin-right: 0.5em;

                    @media screen and (max-width: 480px) {
                        display: block;
                        margin-bottom: 0.3em;
                    }
                }
            }
            .company-name{
                font-size: 150%;
                font-weight: bold;
                margin-bottom: 0.3em;
            }
            .tel {
                font-weight: bold;
            }
        }
    }

    &.public {
        .company-info-block {
            display: block;
            margin-top: 0;
            .inner {
                border: none;
            }
        }
    }

    .map {
        height: 30vh;
        margin-top: 25px;
    }

    .detail-toolbar {
        @extend %toolbar;
    }

    .detail-slide {
        @media screen and (min-width: 768px) {
            padding-left: 50px;
            padding-right: 50px;
        }

        .main-slider {
            text-align: center;
            height: auto;
            margin-bottom: 25px;
            .main-slider-image {
                max-width: 100%;
                height: 400px;
                display: inline-block !important;
            }
            figcaption {
                text-align: center;
            }

            .slick-next,
            .slick-prev {
                height: auto;
                width: auto;
            }

            .slick-next:before,
            .slick-prev:before {
                color: #999;
                font-size: 36px;
            }
            @media screen and (max-width: 700px) {
                .main-slider-image {
                    height: 350px;
                }
            }
            @media screen and (max-width: 600px) {
                .main-slider-image {
                    height: 300px;
                }
            }
            @media screen and (max-width: 530px) {
                .main-slider-image {
                    height: 250px;
                }
            }
            @media screen and (max-width: 400px) {
                .main-slider-image {
                    height: 200px;
                }
            }
            @media screen and (max-width: 380px) {
                .main-slider-image {
                    height: 150px;
                }
            }
            @media screen and (max-width: 350px) {
                .main-slider-image {
                    height: 125px;
                }
            }
        }

        .slider-nav {
            height: 100px;
            margin-bottom: 3rem;
            width: auto;
            .item img {
                height: 100px;
                max-width: 100px;
                margin: 0 auto;
                @media screen and (max-width: 991px) {
                    max-width: 95%;
                }
            }
            .slick-slide {
                border: 1px solid transparent;
            }
            .slick-current {
                background-color: #ddd !important; // border: 1px solid rgba(#ccc, 1);
            }
            .slick-prev {
                left: -56px;
            }
            .slick-next:before,
            .slick-prev:before {
                color: #999;
                font-size: 36px;
            }
        }
    }

    #image-modal {
        width: 100%;
        height: auto;
        .modal-dialog.modal-lg {
            width: 90%;
            max-width: 100%;
        }
        .image-modal-body {
            padding: 0;
        }
    }

    .main-image {
        margin-bottom: 10px;
        span {
            display: block;
            overflow: hidden;
            position: relative;
            width: 100%;
            padding-top: 75%; //画像比率指定　正方形のとき100%　4：3にするときは75%を指定
            .main-modal-image {
                border: solid 1px;
                position: absolute;
                top: 50%;
                left: 50%;
                -webkit-transform: translate(-50%, -50%);
                -ms-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
                width: auto;
                max-width: 100%;
                height: 99%;
            }
        }
    }

    .image-list {
        overflow-y: scroll;
        padding: 0 !important;
        background-color: #f4f4f4;
        margin-bottom: 0;
        border-top: solid 1px;
        border-left: solid 1px;
        height: 100%;
        max-height: 750px;
        .sub-item {
            border-bottom: solid 1px;
            border-right: solid 1px;
            padding: 2px;
        }
        span {
            display: block;
            overflow: hidden;
            position: relative;
            width: 100%;
            padding-top: 75%; //画像比率指定　正方形のとき100%　4：3にするときは75%を指定
            .sub-modal-image {
                position: absolute;
                top: 50%;
                left: 50%;
                -webkit-transform: translate(-50%, -50%);
                -ms-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
                width: auto;
                max-width: 100%;
                height: 100%;
            }
        }
    }

    &.rent {
        .detail-info {
            .info-label, .under-label {
                background-color: rgba($rent-primary, 0.5);
            }
        }
    }

    &.buy {
        .detail-info {
            .info-label, .under-label {
                background-color: $buy-color;
            }
        }
    }

}

%document-guide-page {
    .document-guide-toolbar {
        @extend %toolbar;
    }
}

.active-staff {
    display: inline-block;
    padding: 5px;
    min-width: 100px;
    cursor: pointer;
    border-radius: 5px;
    background-color: $buy-color;
}

.btn-outline-danger.bg-white {
    &:hover {
        background: #dc3545 !important;
    }
}

.form-check {
    padding-left: 0.5rem;
}

.dropdown-menu {
    z-index: 10000;
}

.breadcrumb {
    list-style-type: none;
    padding-left: 0;
    font-size: 0.8rem;
    color: #000;

    li {
        display: inline-block;
        margin-bottom: 10px;

        &.active {
            color: #999;
        }

        a {
            color: #000;
            opacity: 0.7;

            &:hover {
                opacity: 1;
            }
        }
    }


    .breadcrumb-item {
      + .breadcrumb-item {
        padding-left: 0;

        &::before {
          display: none;
        }
      }
    }
}

.accordion-b2b {
    width: 100%;

    .card {
        margin-bottom: 15px;
    }

    .card-header {
        padding: 0;

        &:hover {
            // background: #eee;
        }

        .btn {
            white-space: initial;
        }
    }
}
// detail area .modal-body
.detail-jump-block {
    padding:5px;

    .detail-jump-link {
        cursor:pointer;
        color:#1111cc;
        font-size:0.9rem;
        font-weight: normal;
        padding:0 3px;
    }
}

// treeselect customization
.vue-treeselect {
    margin-bottom: 15px;

    .vue-treeselect__multi-value-item {
        font-size: 14px !important;
    }

    .vue-treeselect__checkbox {
        height: 15px;
        width: 15px;
    }

    .vue-treeselect__check-mark, .vue-treeselect__minus-mark {
        left: 2px;
        top: 2px;
    }
}

@media (min-width: 992px) {
    .modal-lg {
        max-width: 1000px;
    }
}

.modal-dialog.modal-lg .modal-content .modal-body {
    padding: 0;
    padding-top: 15px;
    max-height: 70vh;
    overflow-y: auto;
}

.card.simple {
    border: none;

    .card-header {
        background: rgba(#000, 0.07);
        border-bottom: none;

        .btn-link {
            color: inherit;
        }
    }

    .card-body {
        padding: 0.5rem;
    }

    .panel-body {
        border-top: none;
    }
}

.selected-method-list {
    margin-top: 20px;

    .selected-method-items {
        span {
            margin-right: 5px;
            font-size: 12px;
        }
    }
}

.method-page {
    .tab-content {
        background: #fff;
        box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12), 0 3px 1px -2px rgba(0,0,0,.2);
    }
    .nav-tabs .nav-link {
        background: transparent;

        &.active {
            background-color: #fff;
            color: #000;
            // border-color: transparent;
            border-radius: 0;
        }
    }
}

.list-page {
    position: relative;

    .prop-img{
        max-height: 200px;
    }

    .rent-prop{
        .cat{
            background-color: rgba($rent-primary, 0.2);
        }
    }
    .buy-prop{
        .cat{
            background-color: rgba(29, 97, 149, 0.2);
        }
    }

    #sidebar {
        .property-types-tile {
            .card-header {
                input[type="checkbox"] {
                    margin-left: 8px;
                }

                .btn {
                    text-align: left;
                    padding-left: 0;
                    // width: 100%;
                }
            }
        }
    }

    &.rent {
        .card-header, table.kodawari .cat, .list-item .cat {
            background-color: rgba($rent-primary, 0.2);
            border-bottom: 1px solid darken($rent-color, 5%);
        }

        .btn-primary, .page-item.active .page-link {
            background-color: $rent-primary;
            border-color: $rent-primary;
            // color: darken(#000, 10%);
        }

        .btn-outline-primary {
            color: $rent-primary;
            border-color: $rent-primary;

            &:hover {
                background-color: $rent-primary;
                color: #fff;
            }
        }

        .page-link {
            color: #000;
        }
    }

    &.buy {
        .card-header, table.kodawari .cat, .list-item .cat {
            background-color: $buy-color;
            // border-bottom: 1px solid darken($buy-color, 5%);
        }

        .btn-primary, .page-item.active .page-link {
            background-color: $buy-primary;
            border-color: $buy-primary;
            color: #fff;
        }

        .btn-outline-primary {
            color: $buy-primary;
            border-color: $buy-primary;

            &:hover {
                background-color: $buy-primary;
                color: #fff;
            }
        }

        .page-link {
            color: $buy-primary;
        }
    }

    .choice-box {
        .choice-btns {
            .btn {
                margin: 3px;
            }
        }
    }

    .selected-school-list {
        border-bottom: none;
        margin-bottom: 10px;
        padding: 5px 10px;
        display: none;

        &.show-selected {
            display: block;
        }

        .choice-school-list {
            display: inline-block;
            width: auto;

            [v-cloak] {
                display: none;
            }

            .school-badge {
                margin-left: 3px;
            }
        }
    }

    .company-info-block {
        margin-top: 25px;
        display: none;

        &.company-info-block-display {
            display: block;
        }

        .inner {
            border: 4px solid rgba(#000, 0.08);
            padding: 15px;

            .company-title {
                font-size: 125%;
                font-weight: bold;
                margin-bottom: 0.3em;

                span {
                    display: inline-block;
                    background: rgba(#000, 0.08);
                    padding: 6px 12px;
                    margin-top: -2px;
                    margin-right: 0.5em;

                    @media screen and (max-width: 480px) {
                        display: block;
                        margin-bottom: 0.3em;
                    }
                }
            }
            .company-name{
                font-size: 150%;
                font-weight: bold;
                margin-bottom: 0.3em;
            }
            .tel {
                font-weight: bold;
            }
        }
    }

    &.public {
        .company-info-block {
            display: block;
            margin-top: 0;
            .inner {
                border: none;
            }
        }
    }

    .search-condition-seo {
        word-wrap: break-word;
    }
}

.toolbar, .sm-toolbar {
    width: 100%;
    display: block;
    height: 0;
    position: fixed;
    z-index: 9;
    bottom: 0;
    left: 0;
    background-color: #fff;
    box-shadow: 0px -7px 12px -9px #737373;
    text-align: center;
    transition: all 0.3s ease;
    .search-btn-block{
        @media print {
            display: none;
        }
    }

    &.is-open {
        height: 4rem;
        box-shadow: 0px -7px 12px -9px #737373;
        .btn {
            margin-top: 5px;
        }
    }
    >* {
        display: inline-block;
    }
    .search-btn-block {
        margin-top: 0;
    }
    .town-button {
        font-size: 12px;
        padding: 12px 5px;
    }
}

.list-item {
    margin-bottom: 15px;
    padding: 10px;
    .fa-ellipsis-h {
        font-size: 25px;
    }

    &:nth-child(odd) {
        background: rgba(43, 43, 43, 0.05);
    }

    .val, .cat {
        border-bottom: 1px solid #f5f5f5;
    }

    .price {
        font-size: 1.2rem;
    }

    a.detail-link {
        text-decoration: none;
        color: inherit;
    }

    .company-info-line {
        display: none;
    }

    .company-info-line-display {
        display: flex;
        word-wrap: break-word !important;
    }
}


.list-item.buy-prop {
    .cat{
        background-color: rgba(29, 97, 149, 0.2);
        font-weight: bold;
    }
}

.result-count-label {
    font-size: 1rem;


    strong {
        font-size: 1.2rem;
    }
}

.tile-sortbar {

    .sortbar {
        margin: 0 0;
        // background-color: #fef0d5;
        @media screen and (min-width: 768px) and (max-width: 991px) {
            padding: 15px 0;
        }
        @media screen and (max-width: 767px) {
            padding: 5px 0;
        }
        .prop-control.form-inline {

            .toolbar-select {
                vertical-align: middle;
                width: auto;
                min-width: 130px;
                background-color: #ffffff;
                padding: 7px;
                box-shadow: none;
                @media screen and (max-width: 991px) {
                    min-width: 180px;
                }
                button.btn.dropdown-toggle.bs-placeholder.btn-default {
                    width: 100%;
                    padding-left: 5px;
                }
                .filter-option.pull-left {
                    margin-top: 3px;
                }
            }
            .sort1,
            .sort2,
            .display-limit,
            .status{
                font-weight: bold;
                margin-left: 15px;
            }
            @media screen and (max-width: 991px) {
                .sort1,
                .sort2,
                .display-limit,
                .status {
                    display: inline-block;
                    width: 6em;
                }
            }
            form {
                display: inline-block;
            }
        }
    }
}

.list-nav {
    margin-left: -15px;
    margin-right: -15px;

    .bulk-action-bar {
        padding: 0;
        margin-bottom: 20px;

        .prop-control.form-inline {
            background: #eee;
            display: inline-block;
            padding: 10px;
            position: relative;
            border-radius: 3px;
            border: 1px solid #ddd;

            &:after {
                content: "";
                position: absolute;
                bottom: -12px;
                left: 10px;
                width: 0;
                height: 0;
                border-style: solid;
                border-width: 12px 12px 0 12px;
                border-color: #eee transparent transparent transparent;
            }

            &:before {
                content: "";
                position: absolute;
                left: 8px;
                bottom: -14px;
                width: 0;
                height: 0;
                border-style: solid;
                border-width: 14px 14px 0 14px;
                border-color: #ddd transparent transparent transparent;
            }


            .toolbar-select {
                vertical-align: middle;
                width: auto;
                min-width: 130px;
                background-color: #ffffff;
                padding: 7px;
                box-shadow: none;
                @media screen and (max-width: 991px) {
                    min-width: 180px;
                }
                button.btn.dropdown-toggle.bs-placeholder.btn-default {
                    width: 100%;
                    padding-left: 5px;
                }
                .filter-option.pull-left {
                    margin-top: 3px;
                }
            }
            .sort1,
            .sort2,
            .display-limit,
            .status{
                font-weight: bold;
                margin-left: 15px;
            }
            @media screen and (max-width: 991px) {
                .sort1,
                .sort2,
                .display-limit,
                .status {
                    display: inline-block;
                    width: 6em;
                }
            }
            form {
                display: inline-block;
            }
        }
    }
}

.matching-list-page {
    .matching-item {
        padding: 20px 10px;

        &:nth-child(odd) {
            background: #eef3f7;
        }
    }
}

@media (max-width: 767px) {
    .app.sidenav-toggled .app-sidebar {
        left: -230px;
    }
    .app.sidenav-toggled.tb .app-sidebar {
        left: 0px;
    }
}


.app-sidebar {
    /* transition */
    .v-enter-active, .v-leave-active {
        transition: opacity 0.5s, transform 0.5s;
    }
    .v-enter, .v-leave-to {
        opacity: 0;
        // transform: translateY(40px);
    }
    [v-cloak] {
        display:none;
    }

    .app-menu {
        hr {
            border-top: 1px inset rgba(0, 0, 0, 0.3);
        }

        .app-sidebar__toggle {
            @media (max-width: 767px) {
                display: none;
            }
            word-wrap: none;
            white-space: nowrap;

            .app-menu__icon {
                &:before {
                    content: "\f191";
                    font-family: "Font Awesome 5 Free";
                }

                body.sidenav-toggled & {
                    &:before {
                        content: "\f152";
                        font-family: "Font Awesome 5 Free";
                    }
                }
            }
        }
    }

    body.sidenav-toggled & {
        .menu-label {
            display: none;
        }
    }
}

#propInitModal {
    .content-wrapper {
        width: 80%;
    }

    .card-header {
        padding: 0;
    }
}

.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
    background-color: #000;
    color: #fff;
}

.navbar {
    padding: 0;

    .btn-group {
        a {
            padding-right: 10px;
        }

        .dropdown-toggle-split {
            border-radius: none;
        }
    }
}

.navbar-collapse {
    @media (max-width: 991px) {
        @media (max-height: 640px) {
            overflow-y: auto;
            height: calc(80vh);
        }
    }
}

.navbar-toggler {
    font-size: 80%;

    i {
        font-size: 200%;
    }
}

.navbar-nav {
    .nav-link {
        &.app-nav__item {
            padding: 20px;
        }
    }

    .app-nav__item {
        margin-top:6px;
    }
}

.app-header__logo {
    border:0;
    img {
        @media(max-width: 400px) {
            max-width:100px;
        }
    }
}

#urlModal  {
    .modal-dialog {
        @media (min-width: 576px){
            max-width: 536px;
            margin: 1.75rem auto;
        }
    }

    .url-card {
        background: #eee;
        overflow: hidden;

        a {
            word-break: break-all;
        }
    }
}

.webmail-btn,.bookmark-btn {
    a {
        color: #666;
        font-size: 15px;
        &:hover {
            color: rgb(235, 183, 12) !important;
        }
    }
}


.footer {
    background: #000;
    // color: #fff;
    padding: 30px;

    hr {
        border-top: 1px inset #e4e4e4;
    }

    // .inner {
    //     background: darken(#000, 5%);
    // }
}

.error-page {
    min-height: 80%;
    min-height: 80vh;
    overflow-x: hidden;

    &.setup-error-page {
        min-height: 100%;
        min-height: 100vh;
    }

    .mascot-wrapper {
        border-radius: 50%;
        width: 340px;
        height: 340px;
        display: flex;
        align-items: center;
        flex-direction: row;
        justify-content: center;
        margin: 40px auto;

        @media screen and (max-width: 480px) {
            width: 170px;
            height: 170px;
        }

    }

    .mascot {
        border-radius: 50%;
        text-align: center;
        height: 200px;
        margin: 200px auto 50px auto;
        border: none;
        position: relative;
        z-index: 3;

        display: flex;
        align-items: center;
        flex-direction: row;
        justify-content: center;

        @media screen and (max-width: 991px) {
            margin: 100px auto 50px auto;
        }

        &:after {
            content: "";
            background: url("/common/img/shadow.png");
            background-repeat: no-repeat;
            background-size: 500px;
            background-position: left bottom;
            width: 100%;
            height: 100%;
            top: 31px;
            left: 48%;
            position: absolute;
            z-index: -1;
            opacity: 0.7;

            @media screen and (max-width: 480px) {
                top: -15px;
                left: 47%;
            }
        }

        img {
            max-height: 250px;

            @media screen and (max-width: 480px) {
                max-width: 50px;
            }
        }

    }

    .error-msg {
        text-align: center;
        color: $color5;

        h1 {
            font-size: 2rem;
            font-weight: 100;

            @media screen and (max-width: 480px) {
                font-size: 2rem;
            }
        }
    }
}
body.bookmark-list,
body.history-list,
body.map-page,
body.property-list-page,
body.agency-list {
    .list-item,
    .bookmark-btn {
        cursor: pointer;
        .fa-star {
            cursor: pointer;
            color:orange;
        }
    }

    .app-content {
        @media print {
            margin-left:0 !important;
        }

        .result-count-label {
            @media print {
                margin-left:15px !important;
            }
        }

        .list-page {
            .row{
                @media print {
                    margin-left:0 !important;
                    margin-right:0 !important;
                }
            }
        }

        #print-property-list {
            @media print {
                max-width:100%;
                width:100%;
                flex:0 0 100%;
            }

            .pagination {
                @media print {
                    display:none;
                }
            }

            .list-nav {
                @media print {
                    display:none;
                }
            }

            #csv-link {
                @media print {
                    display:none;
                }
            }

            .dropdown {
                @media print {
                    display:none;
                }

            }
        }

        #sidebar {
            @media print {
                display: none;
            }
        }

        .msg-block {
            padding: 50px;
            text-align: center;
            background: #f5f5f5;
            font-size: 20px;
            color: #777;

            @media screen and (max-width: 768px) {
                padding: 30px 20px;
                font-size: 18px;
            }

            i.fa {
                font-size: 45px;
                vertical-align: middle;
                padding-right: 10px;

                @media screen and (max-width: 768px) {
                    font-size: 30px;
                }
            }

            strong {
                vertical-align: middle;
            }
        }
    }

    .footer {
        @media print {
            display: none;
        }
    }
}
#kodawariModal {
    z-index: 1500;
}
#areaDetailModal,
#kodawariModal,
.toolbar,
.sm-toolbar,
.kodawari-condition {
    .search-btn {
        padding-left: 40px;
        padding-right: 40px;
    }
}

#leafletModal .form-type-image {
    max-height: 94px;
    pointer-events: none;
}

#featureDesctiptionModal {
    .modal-body {
        .feature-description-text {
            font-size:11pt;
            text-align:left;
        }
    }
}

#madoriModal {
    .madori-description{
        font-size:11pt;
        text-align:left;
    }

    .madori-table {
        width:250px;
        border:solid 1px #dee3e8;
        td {
            border:solid 1px #dee3e8;
            text-align: center;
            vertical-align: middle;
            font-size:10pt;
            color:#303050;
            &.madori-header {
                text-align: left;
                font-weight:bolder;
                background-color:#F1F4F7;
            }
        }
    }
}

.detail-nav {
    .navbar-nav {
        .app-nav__item {
            padding:10px 20px;
            margin-top:0;
        }
    }
}

.page-close {
    background-color: #000;
    font-size: 0.9rem;
    color: #fff;
    margin-top:0;
    padding:24px;

    @media(max-width: 400px) {
        padding: 24px 10px;
    }

    &:hover {
        background-color: darken(#000, 5%);
    }

    i {
        padding-right: 5px;
    }
}

@media (max-width: 480px) {
    .remove-px {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
}

.badge-icon-update {
    color: #FFF;
    background-color: #0f3b55;
}

.badge-icon-new {
    color: #FFF;
    background-color: #fa5882;
}

.text-underline {
    text-decoration: underline !important;
}