@charset "UTF-8";
html,
body {
  width: 100%;
  margin: 0;
  padding: 0;
  font-size: 62.5%;
}

body {
  width: 100%;
  margin: 0;
  color: #000;
  font-family: "Yu Gothic Medium", "游ゴシック Medium", YuGothic, "游ゴシック体", "ヒラギノ角ゴ Pro W3", "メイリオ", sans-serif;
  font-weight: 500;
}

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td {
  margin: 0;
  padding: 0;
}

.pc {
  display: none !important;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
}

#loader-bg {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  background: #f4f4f4;
  z-index: 1;
}

#loader {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  width: 60px;
  height: 60px;
  margin-top: -30px;
  margin-left: -30px;
  text-align: center;
  color: #fff;
  z-index: 2;
}

.fulfilling-bouncing-circle-spinner, .fulfilling-bouncing-circle-spinner * {
  box-sizing: border-box;
}

.fulfilling-bouncing-circle-spinner {
  height: 60px;
  width: 60px;
  position: relative;
  animation: fulfilling-bouncing-circle-spinner-animation infinite 4000ms ease;
}

.fulfilling-bouncing-circle-spinner .orbit {
  height: 60px;
  width: 60px;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
  border: calc(60px * 0.03) solid #ec7b3f;
  animation: fulfilling-bouncing-circle-spinner-orbit-animation infinite 4000ms ease;
}

.fulfilling-bouncing-circle-spinner .circle {
  height: 60px;
  width: 60px;
  color: #ff1d5e;
  display: block;
  border-radius: 50%;
  position: relative;
  border: calc(60px * 0.1) solid #ec7b3f;
  animation: fulfilling-bouncing-circle-spinner-circle-animation infinite 4000ms ease;
  transform: rotate(0deg) scale(1);
}

@keyframes fulfilling-bouncing-circle-spinner-animation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes fulfilling-bouncing-circle-spinner-orbit-animation {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1);
  }
  62.5% {
    transform: scale(0.8);
  }
  75% {
    transform: scale(1);
  }
  87.5% {
    transform: scale(0.8);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes fulfilling-bouncing-circle-spinner-circle-animation {
  0% {
    transform: scale(1);
    border-color: transparent;
    border-top-color: inherit;
  }
  16.7% {
    border-color: transparent;
    border-top-color: initial;
    border-right-color: initial;
  }
  33.4% {
    border-color: transparent;
    border-top-color: inherit;
    border-right-color: inherit;
    border-bottom-color: inherit;
  }
  50% {
    border-color: inherit;
    transform: scale(1);
  }
  62.5% {
    border-color: inherit;
    transform: scale(1.4);
  }
  75% {
    border-color: inherit;
    transform: scale(1);
    opacity: 1;
  }
  87.5% {
    border-color: inherit;
    transform: scale(1.4);
  }
  100% {
    border-color: transparent;
    border-top-color: inherit;
    transform: scale(1);
  }
}

.fadein {
  opacity: 0;
  transform: translate(0, 100px);
  transition: all 1s;
}

.fadein.active {
  opacity: 1;
  transform: translate(0, 0);
}

#wrapper {
  background: #fff;
}

.header {
  width: 100%;
  height: 60px;
  background: #fff;
}

.header .inner {
  max-height: 54px;
  padding: 4% 0 0 4%;
}

.header .inner h1 {
  width: 45%;
  height: auto;
  float: left;
}

.header .inner h1 img {
  max-height: 35px;
}

.header .inner::after {
  content: "";
  clear: both;
  display: block;
}

.main-image {
  width: 100%;
  height: auto;
}

.main-image img {
  width: 100%;
  height: auto;
}

.intro {
  margin: 0 auto;
  padding: 30px 15px 50px;
}

.intro .txt {
  width: 100%;
}

.intro .txt p.title {
  font-size: 15px;
  font-size: 1.5rem;
  margin-bottom: 30px;
  padding-left: 20px;
  border-left: #69a661 solid 5px;
  font-weight: bold;
}

.intro .txt p {
  font-size: 15px;
  font-size: 1.5rem;
}

.intro .image {
  margin-top: 20px;
}

.intro .image img {
  width: 100%;
  height: auto;
}

.top-business {
  padding: 0 15px;
  margin: 0 auto;
  text-align: center;
}

.top-business h3 {
  font-size: 22px;
  font-size: 2.2rem;
  text-align: center;
  margin: 0 auto 30px;
  text-align: center;
  border-bottom: 4px solid #69a661;
  font-weight: bold;
  display: inline-block;
  text-align: center;
  padding-bottom: 5px;
  line-height: 1;
}

.top-business h3 span {
  color: #a0a0a0;
  font-size: 10px;
  font-size: 1rem;
}

.top-business h4 {
  width: 100%;
  padding: 5px 0;
  font-size: 15px;
  font-size: 1.5rem;
  background: #69a661;
  color: #fff;
  font-weight: normal;
}

.box-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 20px;
}

.box-wrap a {
  width: 49%;
  line-height: 1.2;
  border: 1px #69a661 solid;
  display: block;
}

.box-wrap a:hover .box {
  opacity: 0.7;
}

.box-wrap a .box {
  width: 100%;
  text-align: center;
}

.box-wrap a .box p.title {
  background: #69a661;
  display: block;
  padding: 2px 0;
  color: #fff;
  font-size: 13px;
  font-size: 1.3rem;
}

.box-wrap a .box p.col1 {
  display: inline-block;
  padding: 8% 2% 8% 8%;
  position: relative;
  color: #69a661;
}

.box-wrap a .box p.col1 img.arrow {
  position: absolute;
  left: 1%;
  top: 40%;
  width: 8px;
  height: auto;
  font-size: 10px;
  font-size: 1rem;
}

.box-wrap a .box p.col2 {
  display: inline-block;
  text-align: left;
  padding: 8% 2% 8% 8%;
  position: relative;
  color: #69a661;
}

.box-wrap a .box p.col2 img.arrow {
  position: absolute;
  left: 1%;
  top: 42%;
  width: 8px;
  height: auto;
  font-size: 10px;
  font-size: 1rem;
}

.box-wrap .wrap-half {
  width: 100%;
  margin-bottom: 20px;
}

.box-wrap .wrap-half:nth-of-type(1) h4 {
  background: #97be5e;
  margin-bottom: 20px;
}

.box-wrap .wrap-half:nth-of-type(1) .wrap-inner {
  display: flex;
  justify-content: space-between;
}

.box-wrap .wrap-half:nth-of-type(1) .wrap-inner a {
  border: 1px solid #97be5e;
}

.box-wrap .wrap-half:nth-of-type(1) .wrap-inner a:hover .box {
  opacity: 0.7;
}

.box-wrap .wrap-half:nth-of-type(1) .wrap-inner a .box {
  width: 100%;
}

.box-wrap .wrap-half:nth-of-type(1) .wrap-inner a .box p.title {
  background: #97be5e;
}

.box-wrap .wrap-half:nth-of-type(1) .wrap-inner a .box p.col1 {
  color: #97be5e;
}

.box-wrap .wrap-half:nth-of-type(2) h4 {
  background: #3da875;
  margin-bottom: 20px;
}

.box-wrap .wrap-half:nth-of-type(2) .wrap-inner {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.box-wrap .wrap-half:nth-of-type(2) .wrap-inner a {
  border: 1px solid #3da875;
  margin-bottom: 10px;
}

.box-wrap .wrap-half:nth-of-type(2) .wrap-inner a .box {
  width: 100%;
}

.box-wrap .wrap-half:nth-of-type(2) .wrap-inner a .box p.title {
  background: #3da875;
}

.box-wrap .wrap-half:nth-of-type(2) .wrap-inner a .box p.col1 {
  color: #3da875;
}

.box-wrap .wrap-half:nth-of-type(2) .wrap-inner a .box p.col2 {
  color: #3da875;
}

.box-wrap .wrap-half:nth-of-type(3) h4 {
  background: #81b37a;
  margin-bottom: 20px;
}

.box-wrap .wrap-half:nth-of-type(3) .wrap-inner {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.box-wrap .wrap-half:nth-of-type(3) .wrap-inner a {
  border: 1px solid #81b37a;
}

.box-wrap .wrap-half:nth-of-type(3) .wrap-inner a .box {
  width: 100%;
}

.box-wrap .wrap-half:nth-of-type(3) .wrap-inner a .box p.title {
  background: #81b37a;
}

.box-wrap .wrap-half:nth-of-type(3) .wrap-inner a .box p.col1 {
  color: #81b37a;
}

.box-wrap .wrap-half:nth-of-type(4) h4 {
  background: #6daa4b;
  margin-bottom: 20px;
}

.box-wrap .wrap-half:nth-of-type(4) .wrap-inner {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.box-wrap .wrap-half:nth-of-type(4) .wrap-inner a {
  border: 1px solid #6daa4b;
}

.box-wrap .wrap-half:nth-of-type(4) .wrap-inner a .box {
  width: 100%;
}

.box-wrap .wrap-half:nth-of-type(4) .wrap-inner a .box p.title {
  background: #6daa4b;
}

.box-wrap .wrap-half:nth-of-type(4) .wrap-inner a .box p.col1 {
  color: #6daa4b;
}

.box-wrap .wrap-half:nth-of-type(5) h4 {
  background: #69a661;
  margin-bottom: 20px;
}

.box-wrap .wrap-half:nth-of-type(5) .wrap-inner {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.box-wrap .wrap-half:nth-of-type(5) .wrap-inner a {
  border: 1px solid #69a661;
}

.box-wrap .wrap-half:nth-of-type(5) .wrap-inner .box {
  width: 100%;
}

.box-wrap .wrap-half:nth-of-type(5) .wrap-inner .box p.title {
  background: #69a661;
}

.box-wrap .wrap-half:nth-of-type(5) .wrap-inner .box p.col1 {
  color: #69a661;
}

.top-voice {
  width: 100%;
  background: #dffadc;
  margin-top: 40px;
  padding: 50px 0 5px;
  text-align: center;
}

.top-voice h3 {
  font-size: 22px;
  font-size: 2.2rem;
  text-align: center;
  margin: 0 auto 30px;
  text-align: center;
  border-bottom: 4px solid #69a661;
  font-weight: bold;
  display: inline-block;
  text-align: center;
  padding-bottom: 5px;
  line-height: 1;
}

.top-voice h3 span {
  color: #a0a0a0;
  font-size: 10px;
  font-size: 1rem;
}

.top-voice .inner {
  padding: 0 15px;
  margin: 0 auto;
}

.top-voice .inner .box {
  width: 100%;
}

.top-voice .inner .box .image {
  width: 65vw;
  height: 65vw;
  border-radius: 50%;
  overflow: hidden;
  margin: 0 auto;
  border: 5px #fff solid;
}

.top-voice .inner .box .image img {
  width: 100%;
  height: auto;
}

.top-voice .inner .box .image img:hover {
  opacity: 0.7;
}

.top-voice .inner .box p.title {
  margin-top: 10px;
  background: #fff;
  text-align: center;
  padding: 10px 20px;
  margin-bottom: 20px;
  line-height: 1.5;
}

.top-voice .inner .box p.title a {
  font-size: 14px;
  font-size: 1.4rem;
}

.top-voice .inner .box p.title a:hover {
  color: #69a661;
}

.top-voice .inner .box p {
  margin: 20px 0 50px;
  font-size: 14px;
  font-size: 1.4rem;
  line-height: 2;
  text-align: left;
}

.top-news {
  margin-top: 54px;
  width: 100%;
  margin-top: 40px;
  text-align: center;
}

.top-news h3 {
  font-size: 22px;
  font-size: 2.2rem;
  text-align: center;
  margin: 0 auto 30px;
  text-align: center;
  border-bottom: 4px solid #69a661;
  font-weight: bold;
  display: inline-block;
  text-align: center;
  padding-bottom: 5px;
  line-height: 1;
}

.top-news h3 span {
  color: #a0a0a0;
  font-size: 10px;
  font-size: 1rem;
}

.top-news .inner {
  margin: 0 auto;
  background: #f8f8f8;
  padding: 4% 15px;
}

.top-news .inner dl {
  border-bottom: 1px solid #d2d2d2;
  margin-bottom: 15px;
  padding: 0 2%;
}

.top-news .inner dl dt {
  width: 100%;
  text-align: left;
  padding: 12px 0 0;
  color: #333;
  font-size: 15px;
  font-size: 1.5rem;
}

.top-news .inner dl dd {
  width: 100%;
  text-align: left;
  padding: 5px 0 12px;
  color: #333;
  font-weight: bold;
  font-size: 15px;
  font-size: 1.5rem;
}

.top-news .inner dl dd a:hover {
  color: #69a661;
}

.top-news .inner dl:nth-last-child(1) {
  border-bottom: none;
}

.top-news .for-archive {
  text-align: center;
  margin: 30px auto 64px;
}

.top-news .for-archive a {
  position: relative;
  display: block;
  width: 80%;
  color: #fff;
  font-size: 15px;
  font-size: 1.5rem;
  background: #69a661;
  padding: 5px 0;
  margin: 0 auto;
}

.top-news .for-archive a::after {
  content: ">";
  right: 10px;
  position: absolute;
}

.top-news .for-archive a:hover {
  background: #aaa;
  color: #666;
  font-weight: bold;
}

footer .f-link {
  width: 100%;
  background: #69a661;
  padding-top: 17px;
  height: 45px;
  color: #fff;
}

footer .f-link small {
  text-align: center;
  font-size: 10px;
  font-size: 1rem;
  display: block;
}
