@charset "UTF-8";
/*
#overview
Gulp入門サンプル

サンプルファイルです
*/
/*#styleguide
サンプル見出し1gul

```
<h1>見出し1</h1>
```
*/
html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-size: 62.5%;
  min-width: 1200px;
}

body {
  width: 100%;
  margin: 0;
  color: #000;
  font-family: "Yu Gothic Medium", "游ゴシック Medium", YuGothic, "游ゴシック体", "ヒラギノ角ゴ Pro W3", "メイリオ", sans-serif;
  font-weight: 500;
}

body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
textarea,
p,
blockquote,
th,
td {
  margin: 0;
  padding: 0;
}

p {
  font-size: 14px;
  font-size: 1.4rem;
  line-height: 1.8;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

a {
  text-decoration: underline;
  color: inherit;
}

/* 好みで使用してください
p, dl, dt, dd, ul, li{
    line-height: 1.5;
    font-feature-settings : "palt";
    text-align:justify; 
    text-justify: inter-ideograph;
}
*/
img {
  border: none;
}

.sp {
  display: none !important;
}

#loader-bg {
  display: none;
  position: fixed;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  top: 0px;
  left: 0px;
  background: #f4f4f4;
  z-index: 1;
}

#loader {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  width: 60px;
  height: 60px;
  margin-top: -30px;
  margin-left: -30px;
  text-align: center;
  color: #fff;
  z-index: 2;
}

.fulfilling-bouncing-circle-spinner,
.fulfilling-bouncing-circle-spinner * {
  box-sizing: border-box;
}

.fulfilling-bouncing-circle-spinner {
  height: 60px;
  width: 60px;
  position: relative;
  animation: fulfilling-bouncing-circle-spinner-animation infinite 4000ms ease;
}

.fulfilling-bouncing-circle-spinner .orbit {
  height: 60px;
  width: 60px;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
  border: calc(60px * 0.03) solid #ec7b3f;
  animation: fulfilling-bouncing-circle-spinner-orbit-animation infinite 4000ms ease;
}

.fulfilling-bouncing-circle-spinner .circle {
  height: 60px;
  width: 60px;
  color: #ec7b3f;
  display: block;
  border-radius: 50%;
  position: relative;
  border: calc(60px * 0.1) solid #ec7b3f;
  animation: fulfilling-bouncing-circle-spinner-circle-animation infinite 4000ms ease;
  transform: rotate(0deg) scale(1);
}

@keyframes fulfilling-bouncing-circle-spinner-animation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes fulfilling-bouncing-circle-spinner-orbit-animation {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1);
  }
  62.5% {
    transform: scale(0.8);
  }
  75% {
    transform: scale(1);
  }
  87.5% {
    transform: scale(0.8);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes fulfilling-bouncing-circle-spinner-circle-animation {
  0% {
    transform: scale(1);
    border-color: transparent;
    border-top-color: inherit;
  }
  16.7% {
    border-color: transparent;
    border-top-color: initial;
    border-right-color: initial;
  }
  33.4% {
    border-color: transparent;
    border-top-color: inherit;
    border-right-color: inherit;
    border-bottom-color: inherit;
  }
  50% {
    border-color: inherit;
    transform: scale(1);
  }
  62.5% {
    border-color: inherit;
    transform: scale(1.4);
  }
  75% {
    border-color: inherit;
    transform: scale(1);
    opacity: 1;
  }
  87.5% {
    border-color: inherit;
    transform: scale(1.4);
  }
  100% {
    border-color: transparent;
    border-top-color: inherit;
    transform: scale(1);
  }
}

#wrapper {
  display: none;
}

.fadein {
  opacity: 0;
  transform: translate(0, 100px);
  transition: all 1s;
}

.fadein.active {
  opacity: 1;
  transform: translate(0, 0);
}

.header {
  height: 120px;
  width: 100%;
  background: #fff;
}

.header .inner {
  padding: 28px 120px;
  display: flex;
  justify-content: space-between;
}

.header .inner h1 {
  width: 243px;
}

.header .inner nav ul {
  display: flex;
  align-items: center;
}

.header .inner nav ul li {
  list-style-type: none;
}

.header .inner nav ul li a {
  padding: 25px;
  font-size: 14px;
  font-size: 1.4rem;
  display: block;
}

.header .inner nav ul li a:hover {
  background: #f4f4f4;
}

.main-image {
  width: 100%;
  height: auto;
}

.main-image img {
  width: 100%;
  height: auto;
}

.intro {
  width: 1200px;
  margin: 0 auto;
  padding: 60px 0;
  display: flex;
  justify-content: space-between;
}

.intro .txt {
  width: 600px;
  padding-top: 40px;
}

.intro .txt p.title {
  font-size: 30px;
  font-size: 3rem;
  margin-bottom: 60px;
  padding-left: 20px;
  border-left: #69a661 solid 5px;
}

.top-business {
  width: 1200px;
  margin: 0 auto;
  text-align: center;
}

.top-business h3 {
  font-size: 26px;
  font-size: 2.6rem;
  text-align: center;
  margin: 0 auto 30px;
  text-align: center;
  border-bottom: 4px solid #69a661;
  font-weight: bold;
  display: inline-block;
  text-align: center;
  padding-bottom: 10px;
}

.top-business h3 span {
  color: #a0a0a0;
  font-size: 16px;
  font-size: 1.6rem;
}

.top-business h4 {
  width: 100%;
  padding: 15px 0;
  font-size: 20px;
  font-size: 2rem;
  background: #69a661;
  color: #fff;
  font-weight: normal;
}

.box-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 20px;
}

.box-wrap a:hover .box {
  opacity: 0.7;
}

.box-wrap a .box {
  width: 382px;
  margin-bottom: 20px;
  border: 1px #69a661 solid;
  height: 120px;
  text-align: center;
}

.box-wrap a .box p.title {
  background: #69a661;
  display: block;
  padding: 2px 0;
  color: #fff;
}

.box-wrap a .box p.col1 {
  display: inline-block;
  margin-top: 20px;
  color: #69a661;
}

.box-wrap a .box p.col2 {
  margin-top: 10px;
  display: inline-block;
  text-align: left;
  color: #69a661;
}

.box-wrap a .box p.col1 {
  padding-left: 24px;
  position: relative;
}

.box-wrap a .box p.col1 img.arrow {
  position: absolute;
  left: 0;
  top: 3px;
}

.box-wrap a .box p.col2 {
  padding-left: 24px;
  position: relative;
}

.box-wrap a .box p.col2 img.arrow {
  position: absolute;
  left: 0;
  top: 34%;
}

.box-wrap .wrap-half {
  width: 580px;
  margin-bottom: 20px;
}

.box-wrap .wrap-half:nth-of-type(1) h4 {
  background: #97be5e;
  margin-bottom: 20px;
}

.box-wrap .wrap-half:nth-of-type(1) .wrap-inner {
  display: flex;
  justify-content: space-between;
}

.box-wrap .wrap-half:nth-of-type(1) .wrap-inner a:hover .box {
  opacity: 0.7;
}

.box-wrap .wrap-half:nth-of-type(1) .wrap-inner a .box {
  border: 1px solid #97be5e;
  width: 278px;
}

.box-wrap .wrap-half:nth-of-type(1) .wrap-inner a .box p.title {
  background: #97be5e;
}

.box-wrap .wrap-half:nth-of-type(1) .wrap-inner a .box p.col1 {
  color: #97be5e;
}

.box-wrap .wrap-half:nth-of-type(2) h4 {
  background: #3da875;
  margin-bottom: 20px;
}

.box-wrap .wrap-half:nth-of-type(2) .wrap-inner {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.box-wrap .wrap-half:nth-of-type(2) .wrap-inner .box {
  border: 1px solid #3da875;
  width: 278px;
}

.box-wrap .wrap-half:nth-of-type(2) .wrap-inner .box p.title {
  background: #3da875;
}

.box-wrap .wrap-half:nth-of-type(2) .wrap-inner .box p.col1 {
  color: #3da875;
}

.box-wrap .wrap-half:nth-of-type(2) .wrap-inner .box p.col2 {
  color: #3da875;
}

.box-wrap .wrap-half:nth-of-type(3) h4 {
  background: #81b37a;
  margin-bottom: 20px;
}

.box-wrap .wrap-half:nth-of-type(3) .wrap-inner {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.box-wrap .wrap-half:nth-of-type(3) .wrap-inner .box {
  border: 1px solid #81b37a;
  width: 278px;
}

.box-wrap .wrap-half:nth-of-type(3) .wrap-inner .box p.title {
  background: #81b37a;
}

.box-wrap .wrap-half:nth-of-type(3) .wrap-inner .box p.col1 {
  color: #81b37a;
}

.box-wrap .wrap-half:nth-of-type(4) h4 {
  background: #6daa4b;
  margin-bottom: 20px;
}

.box-wrap .wrap-half:nth-of-type(4) .wrap-inner {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.box-wrap .wrap-half:nth-of-type(4) .wrap-inner .box {
  border: 1px solid #6daa4b;
  width: 278px;
}

.box-wrap .wrap-half:nth-of-type(4) .wrap-inner .box p.title {
  background: #6daa4b;
}

.box-wrap .wrap-half:nth-of-type(4) .wrap-inner .box p.col1 {
  color: #6daa4b;
}

.box-wrap .wrap-half:nth-of-type(5) h4 {
  background: #69a661;
  margin-bottom: 20px;
}

.box-wrap .wrap-half:nth-of-type(5) .wrap-inner {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.box-wrap .wrap-half:nth-of-type(5) .wrap-inner .box {
  border: 1px solid #69a661;
  width: 278px;
}

.box-wrap .wrap-half:nth-of-type(5) .wrap-inner .box p.title {
  background: #69a661;
}

.box-wrap .wrap-half:nth-of-type(5) .wrap-inner .box p.col1 {
  color: #69a661;
}

.top-voice {
  width: 100%;
  background: #dffadc;
  margin-top: 100px;
  padding-top: 50px;
  text-align: center;
}

.top-voice h3 {
  font-size: 26px;
  font-size: 2.6rem;
  text-align: center;
  margin: 0 auto 30px;
  text-align: center;
  border-bottom: 4px solid #69a661;
  font-weight: bold;
  display: inline-block;
  text-align: center;
  padding-bottom: 10px;
}

.top-voice h3 span {
  color: #a0a0a0;
  font-size: 16px;
  font-size: 1.6rem;
}

.top-voice .inner {
  width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.top-voice .inner .box {
  width: 360px;
}

.top-voice .inner .box .image {
  width: 100%;
  height: auto;
  border-radius: 50%;
  overflow: hidden;
}

.top-voice .inner .box .image img {
  width: 100%;
  height: auto;
}

.top-voice .inner .box .image img:hover {
  opacity: 0.7;
}

.top-voice .inner .box p.title {
  margin-top: 10px;
  background: #fff;
  text-align: center;
  padding: 5px 10px;
}

.top-voice .inner .box p.title a:hover {
  color: #69a661;
}

.top-voice .inner .box p {
  margin: 20px 0 50px;
}

.top-news {
  margin-top: 54px;
  width: 100%;
  margin-top: 100px;
  text-align: center;
}

.top-news h3 {
  font-size: 26px;
  font-size: 2.6rem;
  text-align: center;
  margin: 0 auto 30px;
  text-align: center;
  border-bottom: 4px solid #69a661;
  font-weight: bold;
  display: inline-block;
  text-align: center;
  padding-bottom: 10px;
}

.top-news h3 span {
  color: #a0a0a0;
  font-size: 16px;
  font-size: 1.6rem;
}

.top-news .inner {
  width: 1200px;
  margin: 0 auto;
  background: #f8f8f8;
  padding: 50px 100px;
}

.top-news .inner dl {
  border-bottom: 1px solid #d2d2d2;
  display: flex;
  margin-bottom: 15px;
}

.top-news .inner dl dt {
  width: 145px;
  text-align: left;
  padding: 12px;
  color: #333;
  font-size: 16px;
  font-size: 1.6rem;
}

.top-news .inner dl dd {
  width: 855px;
  text-align: left;
  padding: 12px 0;
  color: #333;
  font-weight: bold;
  font-size: 16px;
  font-size: 1.6rem;
}

.top-news .inner dl dd a:hover {
  color: #69a661;
}

.top-news .for-archive {
  text-align: center;
  margin: 30px auto 110px;
}

.top-news .for-archive a {
  position: relative;
  display: block;
  width: 300px;
  color: #fff;
  font-size: 20px;
  font-size: 2rem;
  background: #69a661;
  padding: 14px 0;
  border-radius: 5px;
  margin: 0 auto;
}

.top-news .for-archive a::after {
  content: ">";
  right: 10px;
  position: absolute;
}

.top-news .for-archive a:hover {
  background: #aaa;
  color: #666;
  font-weight: bold;
}

footer .f-nav {
  width: 100%;
  background: #69a661;
  padding: 40px 0;
}

footer .f-nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}

footer .f-nav ul li {
  padding: 0 30px;
  list-style: none;
}

footer .f-nav ul li a {
  color: #fff;
  font-size: 14px;
  font-size: 1.4rem;
  border-bottom: none;
}

footer .f-nav ul li a:hover {
  color: #ee0;
}

footer .f-link {
  margin: 25px auto 15px;
  position: relative;
  width: 1200px;
}

footer .f-link ul {
  position: absolute;
  left: 0;
  display: flex;
}

footer .f-link ul li {
  padding: 0 20px;
  list-style: none;
}

footer .f-link ul li a {
  font-size: 14px;
  font-size: 1.4rem;
}

footer .f-link ul li a:hover {
  color: #69a661;
}

footer .f-link small {
  text-align: center;
  font-size: 14px;
  font-size: 1.4rem;
  display: block;
}

#page_top {
  position: fixed;
  bottom: 30px;
  right: 30px;
  width: 100px;
  height: 100px;
  border-radius: 50px;
  background: rgba(191, 127, 63, 0.8);
}

#page_top a {
  display: block;
  width: 100px;
  height: 100px;
  padding-top: 38px;
  font-size: 16px;
  color: #fff;
  text-align: center;
}

@media screen and (min-width: 320) and (max-width: 767) {
  .wrap {
    width: 100%;
  }
}
