.card {
  display: block;
}

@media screen and (min-width: 480px) {
  input[type=checkbox] {
    border: 1px solid #b4b9be;
    background: #fff;
    color: #555;
    clear: none;
    cursor: pointer;
    display: inline-block;
    line-height: 0;
    height: 20px;
    margin: -2px 4px 0 0;
    outline: 0;
    padding: 0 !important;
    text-align: center;
    vertical-align: middle;
    width: 20px;
    min-width: 20px;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    -webkit-transition: .05s border-color ease-in-out;
    -moz-transition: .05s border-color ease-in-out;
    transition: .05s border-color ease-in-out;
  }
  input[type=checkbox]:disabled {
    border: 1px solid #eee;
  }
  input[type=checkbox]:checked {
    border: 1px solid transparent;
    outline: none;
  }
  input[type=checkbox]:checked::-ms-check {
    content: "\2714";
    font-size: 8px;
    outline: none;
    margin: 0px 0 0 0px !important;
    color: #fff;
    background-color: #555;
  }
  input[type=checkbox]:checked:before {
    content: "\2714";
    font-size: 8px;
    margin: 0px 0 0 0px !important;
    color: orange;
    float: left;
    display: inline-block;
    vertical-align: middle;
    width: 20px;
    height: 20px;
    background: #000;
    color: #fff;
    font: 400 17px/1 dashicons;
    padding-top: 2px;
    speak: none;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  input[type=checkbox]:disabled {
    opacity: 0.65;
    cursor: default;
  }
}

@media screen and (min-width: 480px) {
  input[type=radio] {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    line-height: 10px;
    border: 1px solid #b4b9be;
    background: #fff;
    color: #555;
    clear: none;
    cursor: pointer;
    display: inline-block;
    line-height: 0;
    height: 16px;
    margin: -2px 4px 0 0;
    outline: 0;
    padding: 0 !important;
    text-align: center;
    vertical-align: middle;
    width: 16px;
    min-width: 16px;
    -webkit-appearance: none;
    -moz-appearance: none;
    -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    -webkit-transition: .05s border-color ease-in-out;
    -moz-transition: .05s border-color ease-in-out;
    transition: .05s border-color ease-in-out;
  }
  input[type=radio]:disabled {
    border: 1px solid #eee;
  }
  input[type=radio]:checked {
    border: 1px solid #000;
    outline: none;
  }
  input[type=radio]:checked:before {
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    width: 8px;
    height: 8px;
    color: #fff;
    font: 400 10px/1 dashicons;
    speak: none;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: "";
    text-indent: -9999px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    font-size: 10px;
    margin-top: 3px;
    line-height: 16px;
    background-color: #000;
  }
}

.active-staff {
  display: inline-block;
  padding: 5px;
  min-width: 100px;
  cursor: pointer;
  border-radius: 5px;
  background-color: rgba(144, 182, 212, 0.3);
}

.btn-outline-danger.bg-white:hover {
  background: #dc3545 !important;
}

.form-check {
  padding-left: 0.5rem;
}

.dropdown-menu {
  z-index: 10000;
}

.breadcrumb {
  list-style-type: none;
  padding-left: 0;
  font-size: 0.8rem;
  color: #000;
}

.breadcrumb li {
  display: inline-block;
  margin-bottom: 10px;
}

.breadcrumb li.active {
  color: #999;
}

.breadcrumb li a {
  color: #000;
  opacity: 0.7;
}

.breadcrumb li a:hover {
  opacity: 1;
}

.breadcrumb .breadcrumb-item + .breadcrumb-item {
  padding-left: 0;
}

.breadcrumb .breadcrumb-item + .breadcrumb-item::before {
  display: none;
}

.accordion-b2b {
  width: 100%;
}

.accordion-b2b .card {
  margin-bottom: 15px;
}

.accordion-b2b .card-header {
  padding: 0;
}

.accordion-b2b .card-header .btn {
  white-space: initial;
}

.detail-jump-block {
  padding: 5px;
}

.detail-jump-block .detail-jump-link {
  cursor: pointer;
  color: #1111cc;
  font-size: 0.9rem;
  font-weight: normal;
  padding: 0 3px;
}

.vue-treeselect {
  margin-bottom: 15px;
}

.vue-treeselect .vue-treeselect__multi-value-item {
  font-size: 14px !important;
}

.vue-treeselect .vue-treeselect__checkbox {
  height: 15px;
  width: 15px;
}

.vue-treeselect .vue-treeselect__check-mark, .vue-treeselect .vue-treeselect__minus-mark {
  left: 2px;
  top: 2px;
}

@media (min-width: 992px) {
  .modal-lg {
    max-width: 1000px;
  }
}

.modal-dialog.modal-lg .modal-content .modal-body {
  padding: 0;
  padding-top: 15px;
  max-height: 70vh;
  overflow-y: auto;
}

.card.simple {
  border: none;
}

.card.simple .card-header {
  background: rgba(0, 0, 0, 0.07);
  border-bottom: none;
}

.card.simple .card-header .btn-link {
  color: inherit;
}

.card.simple .card-body {
  padding: 0.5rem;
}

.card.simple .panel-body {
  border-top: none;
}

.selected-method-list {
  margin-top: 20px;
}

.selected-method-list .selected-method-items span {
  margin-right: 5px;
  font-size: 12px;
}

.method-page .tab-content {
  background: #fff;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
}

.method-page .nav-tabs .nav-link {
  background: transparent;
}

.method-page .nav-tabs .nav-link.active {
  background-color: #fff;
  color: #000;
  border-radius: 0;
}

.list-page {
  position: relative;
}

.list-page .prop-img {
  max-height: 200px;
}

.list-page .rent-prop .cat {
  background-color: rgba(55, 167, 122, 0.2);
}

.list-page .buy-prop .cat {
  background-color: rgba(29, 97, 149, 0.2);
}

.list-page #sidebar .property-types-tile .card-header input[type="checkbox"] {
  margin-left: 8px;
}

.list-page #sidebar .property-types-tile .card-header .btn {
  text-align: left;
  padding-left: 0;
}

.list-page.rent .card-header, .list-page.rent table.kodawari .cat, .list-page.rent .list-item .cat {
  background-color: rgba(55, 167, 122, 0.2);
  border-bottom: 1px solid rgba(115, 178, 117, 0.2);
}

.list-page.rent .btn-primary, .list-page.rent .page-item.active .page-link {
  background-color: #37a77a;
  border-color: #37a77a;
}

.list-page.rent .btn-outline-primary {
  color: #37a77a;
  border-color: #37a77a;
}

.list-page.rent .btn-outline-primary:hover {
  background-color: #37a77a;
  color: #fff;
}

.list-page.rent .page-link {
  color: #000;
}

.list-page.buy .card-header, .list-page.buy table.kodawari .cat, .list-page.buy .list-item .cat {
  background-color: rgba(144, 182, 212, 0.3);
}

.list-page.buy .btn-primary, .list-page.buy .page-item.active .page-link {
  background-color: #1d6195;
  border-color: #1d6195;
  color: #fff;
}

.list-page.buy .btn-outline-primary {
  color: #1d6195;
  border-color: #1d6195;
}

.list-page.buy .btn-outline-primary:hover {
  background-color: #1d6195;
  color: #fff;
}

.list-page.buy .page-link {
  color: #1d6195;
}

.list-page .choice-box .choice-btns .btn {
  margin: 3px;
}

.list-page .selected-school-list {
  border-bottom: none;
  margin-bottom: 10px;
  padding: 5px 10px;
  display: none;
}

.list-page .selected-school-list.show-selected {
  display: block;
}

.list-page .selected-school-list .choice-school-list {
  display: inline-block;
  width: auto;
}

.list-page .selected-school-list .choice-school-list [v-cloak] {
  display: none;
}

.list-page .selected-school-list .choice-school-list .school-badge {
  margin-left: 3px;
}

.list-page .company-info-block {
  margin-top: 25px;
  display: none;
}

.list-page .company-info-block.company-info-block-display {
  display: block;
}

.list-page .company-info-block .inner {
  border: 4px solid rgba(0, 0, 0, 0.08);
  padding: 15px;
}

.list-page .company-info-block .inner .company-title {
  font-size: 125%;
  font-weight: bold;
  margin-bottom: 0.3em;
}

.list-page .company-info-block .inner .company-title span {
  display: inline-block;
  background: rgba(0, 0, 0, 0.08);
  padding: 6px 12px;
  margin-top: -2px;
  margin-right: 0.5em;
}

@media screen and (max-width: 480px) {
  .list-page .company-info-block .inner .company-title span {
    display: block;
    margin-bottom: 0.3em;
  }
}

.list-page .company-info-block .inner .company-name {
  font-size: 150%;
  font-weight: bold;
  margin-bottom: 0.3em;
}

.list-page .company-info-block .inner .tel {
  font-weight: bold;
}

.list-page.public .company-info-block {
  display: block;
  margin-top: 0;
}

.list-page.public .company-info-block .inner {
  border: none;
}

.list-page .search-condition-seo {
  word-wrap: break-word;
}

.toolbar, .sm-toolbar {
  width: 100%;
  display: block;
  height: 0;
  position: fixed;
  z-index: 9;
  bottom: 0;
  left: 0;
  background-color: #fff;
  box-shadow: 0px -7px 12px -9px #737373;
  text-align: center;
  transition: all 0.3s ease;
}

@media print {
  .toolbar .search-btn-block, .sm-toolbar .search-btn-block {
    display: none;
  }
}

.toolbar.is-open, .sm-toolbar.is-open {
  height: 4rem;
  box-shadow: 0px -7px 12px -9px #737373;
}

.toolbar.is-open .btn, .sm-toolbar.is-open .btn {
  margin-top: 5px;
}

.toolbar > *, .sm-toolbar > * {
  display: inline-block;
}

.toolbar .search-btn-block, .sm-toolbar .search-btn-block {
  margin-top: 0;
}

.toolbar .town-button, .sm-toolbar .town-button {
  font-size: 12px;
  padding: 12px 5px;
}

.list-item {
  margin-bottom: 15px;
  padding: 10px;
}

.list-item .fa-ellipsis-h {
  font-size: 25px;
}

.list-item:nth-child(odd) {
  background: rgba(43, 43, 43, 0.05);
}

.list-item .val, .list-item .cat {
  border-bottom: 1px solid #f5f5f5;
}

.list-item .price {
  font-size: 1.2rem;
}

.list-item a.detail-link {
  text-decoration: none;
  color: inherit;
}

.list-item .company-info-line {
  display: none;
}

.list-item .company-info-line-display {
  display: flex;
  word-wrap: break-word !important;
}

.list-item.buy-prop .cat {
  background-color: rgba(29, 97, 149, 0.2);
  font-weight: bold;
}

.result-count-label {
  font-size: 1rem;
}

.result-count-label strong {
  font-size: 1.2rem;
}

.tile-sortbar .sortbar {
  margin: 0 0;
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  .tile-sortbar .sortbar {
    padding: 15px 0;
  }
}

@media screen and (max-width: 767px) {
  .tile-sortbar .sortbar {
    padding: 5px 0;
  }
}

.tile-sortbar .sortbar .prop-control.form-inline .toolbar-select {
  vertical-align: middle;
  width: auto;
  min-width: 130px;
  background-color: #ffffff;
  padding: 7px;
  box-shadow: none;
}

@media screen and (max-width: 991px) {
  .tile-sortbar .sortbar .prop-control.form-inline .toolbar-select {
    min-width: 180px;
  }
}

.tile-sortbar .sortbar .prop-control.form-inline .toolbar-select button.btn.dropdown-toggle.bs-placeholder.btn-default {
  width: 100%;
  padding-left: 5px;
}

.tile-sortbar .sortbar .prop-control.form-inline .toolbar-select .filter-option.pull-left {
  margin-top: 3px;
}

.tile-sortbar .sortbar .prop-control.form-inline .sort1,
.tile-sortbar .sortbar .prop-control.form-inline .sort2,
.tile-sortbar .sortbar .prop-control.form-inline .display-limit,
.tile-sortbar .sortbar .prop-control.form-inline .status {
  font-weight: bold;
  margin-left: 15px;
}

@media screen and (max-width: 991px) {
  .tile-sortbar .sortbar .prop-control.form-inline .sort1,
  .tile-sortbar .sortbar .prop-control.form-inline .sort2,
  .tile-sortbar .sortbar .prop-control.form-inline .display-limit,
  .tile-sortbar .sortbar .prop-control.form-inline .status {
    display: inline-block;
    width: 6em;
  }
}

.tile-sortbar .sortbar .prop-control.form-inline form {
  display: inline-block;
}

.list-nav {
  margin-left: -15px;
  margin-right: -15px;
}

.list-nav .bulk-action-bar {
  padding: 0;
  margin-bottom: 20px;
}

.list-nav .bulk-action-bar .prop-control.form-inline {
  background: #eee;
  display: inline-block;
  padding: 10px;
  position: relative;
  border-radius: 3px;
  border: 1px solid #ddd;
}

.list-nav .bulk-action-bar .prop-control.form-inline:after {
  content: "";
  position: absolute;
  bottom: -12px;
  left: 10px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 12px 12px 0 12px;
  border-color: #eee transparent transparent transparent;
}

.list-nav .bulk-action-bar .prop-control.form-inline:before {
  content: "";
  position: absolute;
  left: 8px;
  bottom: -14px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 14px 14px 0 14px;
  border-color: #ddd transparent transparent transparent;
}

.list-nav .bulk-action-bar .prop-control.form-inline .toolbar-select {
  vertical-align: middle;
  width: auto;
  min-width: 130px;
  background-color: #ffffff;
  padding: 7px;
  box-shadow: none;
}

@media screen and (max-width: 991px) {
  .list-nav .bulk-action-bar .prop-control.form-inline .toolbar-select {
    min-width: 180px;
  }
}

.list-nav .bulk-action-bar .prop-control.form-inline .toolbar-select button.btn.dropdown-toggle.bs-placeholder.btn-default {
  width: 100%;
  padding-left: 5px;
}

.list-nav .bulk-action-bar .prop-control.form-inline .toolbar-select .filter-option.pull-left {
  margin-top: 3px;
}

.list-nav .bulk-action-bar .prop-control.form-inline .sort1,
.list-nav .bulk-action-bar .prop-control.form-inline .sort2,
.list-nav .bulk-action-bar .prop-control.form-inline .display-limit,
.list-nav .bulk-action-bar .prop-control.form-inline .status {
  font-weight: bold;
  margin-left: 15px;
}

@media screen and (max-width: 991px) {
  .list-nav .bulk-action-bar .prop-control.form-inline .sort1,
  .list-nav .bulk-action-bar .prop-control.form-inline .sort2,
  .list-nav .bulk-action-bar .prop-control.form-inline .display-limit,
  .list-nav .bulk-action-bar .prop-control.form-inline .status {
    display: inline-block;
    width: 6em;
  }
}

.list-nav .bulk-action-bar .prop-control.form-inline form {
  display: inline-block;
}

.matching-list-page .matching-item {
  padding: 20px 10px;
}

.matching-list-page .matching-item:nth-child(odd) {
  background: #eef3f7;
}

@media (max-width: 767px) {
  .app.sidenav-toggled .app-sidebar {
    left: -230px;
  }
  .app.sidenav-toggled.tb .app-sidebar {
    left: 0px;
  }
}

.app-sidebar {
  /* transition */
}

.app-sidebar .v-enter-active, .app-sidebar .v-leave-active {
  transition: opacity 0.5s, transform 0.5s;
}

.app-sidebar .v-enter, .app-sidebar .v-leave-to {
  opacity: 0;
}

.app-sidebar [v-cloak] {
  display: none;
}

.app-sidebar .app-menu hr {
  border-top: 1px inset rgba(0, 0, 0, 0.3);
}

.app-sidebar .app-menu .app-sidebar__toggle {
  word-wrap: none;
  white-space: nowrap;
}

@media (max-width: 767px) {
  .app-sidebar .app-menu .app-sidebar__toggle {
    display: none;
  }
}

.app-sidebar .app-menu .app-sidebar__toggle .app-menu__icon:before {
  content: "\f191";
  font-family: "Font Awesome 5 Free";
}

body.sidenav-toggled .app-sidebar .app-menu .app-sidebar__toggle .app-menu__icon:before {
  content: "\f152";
  font-family: "Font Awesome 5 Free";
}

body.sidenav-toggled .app-sidebar .menu-label {
  display: none;
}

#propInitModal .content-wrapper {
  width: 80%;
}

#propInitModal .card-header {
  padding: 0;
}

.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
  background-color: #000;
  color: #fff;
}

.navbar {
  padding: 0;
}

.navbar .btn-group a {
  padding-right: 10px;
}

.navbar .btn-group .dropdown-toggle-split {
  border-radius: none;
}

@media (max-width: 991px) and (max-height: 640px) {
  .navbar-collapse {
    overflow-y: auto;
    height: calc(80vh);
  }
}

.navbar-toggler {
  font-size: 80%;
}

.navbar-toggler i {
  font-size: 200%;
}

.navbar-nav .nav-link.app-nav__item {
  padding: 20px;
}

.navbar-nav .app-nav__item {
  margin-top: 6px;
}

.app-header__logo {
  border: 0;
}

@media (max-width: 400px) {
  .app-header__logo img {
    max-width: 100px;
  }
}

@media (min-width: 576px) {
  #urlModal .modal-dialog {
    max-width: 536px;
    margin: 1.75rem auto;
  }
}

#urlModal .url-card {
  background: #eee;
  overflow: hidden;
}

#urlModal .url-card a {
  word-break: break-all;
}

.webmail-btn a, .bookmark-btn a {
  color: #666;
  font-size: 15px;
}

.webmail-btn a:hover, .bookmark-btn a:hover {
  color: #ebb70c !important;
}

.footer {
  background: #000;
  padding: 30px;
}

.footer hr {
  border-top: 1px inset #e4e4e4;
}

.error-page {
  min-height: 80%;
  min-height: 80vh;
  overflow-x: hidden;
}

.error-page.setup-error-page {
  min-height: 100%;
  min-height: 100vh;
}

.error-page .mascot-wrapper {
  border-radius: 50%;
  width: 340px;
  height: 340px;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  margin: 40px auto;
}

@media screen and (max-width: 480px) {
  .error-page .mascot-wrapper {
    width: 170px;
    height: 170px;
  }
}

.error-page .mascot {
  border-radius: 50%;
  text-align: center;
  height: 200px;
  margin: 200px auto 50px auto;
  border: none;
  position: relative;
  z-index: 3;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}

@media screen and (max-width: 991px) {
  .error-page .mascot {
    margin: 100px auto 50px auto;
  }
}

.error-page .mascot:after {
  content: "";
  background: url("/common/img/shadow.png");
  background-repeat: no-repeat;
  background-size: 500px;
  background-position: left bottom;
  width: 100%;
  height: 100%;
  top: 31px;
  left: 48%;
  position: absolute;
  z-index: -1;
  opacity: 0.7;
}

@media screen and (max-width: 480px) {
  .error-page .mascot:after {
    top: -15px;
    left: 47%;
  }
}

.error-page .mascot img {
  max-height: 250px;
}

@media screen and (max-width: 480px) {
  .error-page .mascot img {
    max-width: 50px;
  }
}

.error-page .error-msg {
  text-align: center;
  color: #00323c;
}

.error-page .error-msg h1 {
  font-size: 2rem;
  font-weight: 100;
}

@media screen and (max-width: 480px) {
  .error-page .error-msg h1 {
    font-size: 2rem;
  }
}

body.bookmark-list .list-item,
body.bookmark-list .bookmark-btn,
body.history-list .list-item,
body.history-list .bookmark-btn,
body.map-page .list-item,
body.map-page .bookmark-btn,
body.property-list-page .list-item,
body.property-list-page .bookmark-btn,
body.agency-list .list-item,
body.agency-list .bookmark-btn {
  cursor: pointer;
}

body.bookmark-list .list-item .fa-star,
body.bookmark-list .bookmark-btn .fa-star,
body.history-list .list-item .fa-star,
body.history-list .bookmark-btn .fa-star,
body.map-page .list-item .fa-star,
body.map-page .bookmark-btn .fa-star,
body.property-list-page .list-item .fa-star,
body.property-list-page .bookmark-btn .fa-star,
body.agency-list .list-item .fa-star,
body.agency-list .bookmark-btn .fa-star {
  cursor: pointer;
  color: orange;
}

@media print {
  body.bookmark-list .app-content,
  body.history-list .app-content,
  body.map-page .app-content,
  body.property-list-page .app-content,
  body.agency-list .app-content {
    margin-left: 0 !important;
  }
}

@media print {
  body.bookmark-list .app-content .result-count-label,
  body.history-list .app-content .result-count-label,
  body.map-page .app-content .result-count-label,
  body.property-list-page .app-content .result-count-label,
  body.agency-list .app-content .result-count-label {
    margin-left: 15px !important;
  }
}

@media print {
  body.bookmark-list .app-content .list-page .row,
  body.history-list .app-content .list-page .row,
  body.map-page .app-content .list-page .row,
  body.property-list-page .app-content .list-page .row,
  body.agency-list .app-content .list-page .row {
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
}

@media print {
  body.bookmark-list .app-content #print-property-list,
  body.history-list .app-content #print-property-list,
  body.map-page .app-content #print-property-list,
  body.property-list-page .app-content #print-property-list,
  body.agency-list .app-content #print-property-list {
    max-width: 100%;
    width: 100%;
    flex: 0 0 100%;
  }
}

@media print {
  body.bookmark-list .app-content #print-property-list .pagination,
  body.history-list .app-content #print-property-list .pagination,
  body.map-page .app-content #print-property-list .pagination,
  body.property-list-page .app-content #print-property-list .pagination,
  body.agency-list .app-content #print-property-list .pagination {
    display: none;
  }
}

@media print {
  body.bookmark-list .app-content #print-property-list .list-nav,
  body.history-list .app-content #print-property-list .list-nav,
  body.map-page .app-content #print-property-list .list-nav,
  body.property-list-page .app-content #print-property-list .list-nav,
  body.agency-list .app-content #print-property-list .list-nav {
    display: none;
  }
}

@media print {
  body.bookmark-list .app-content #print-property-list #csv-link,
  body.history-list .app-content #print-property-list #csv-link,
  body.map-page .app-content #print-property-list #csv-link,
  body.property-list-page .app-content #print-property-list #csv-link,
  body.agency-list .app-content #print-property-list #csv-link {
    display: none;
  }
}

@media print {
  body.bookmark-list .app-content #print-property-list .dropdown,
  body.history-list .app-content #print-property-list .dropdown,
  body.map-page .app-content #print-property-list .dropdown,
  body.property-list-page .app-content #print-property-list .dropdown,
  body.agency-list .app-content #print-property-list .dropdown {
    display: none;
  }
}

@media print {
  body.bookmark-list .app-content #sidebar,
  body.history-list .app-content #sidebar,
  body.map-page .app-content #sidebar,
  body.property-list-page .app-content #sidebar,
  body.agency-list .app-content #sidebar {
    display: none;
  }
}

body.bookmark-list .app-content .msg-block,
body.history-list .app-content .msg-block,
body.map-page .app-content .msg-block,
body.property-list-page .app-content .msg-block,
body.agency-list .app-content .msg-block {
  padding: 50px;
  text-align: center;
  background: #f5f5f5;
  font-size: 20px;
  color: #777;
}

@media screen and (max-width: 768px) {
  body.bookmark-list .app-content .msg-block,
  body.history-list .app-content .msg-block,
  body.map-page .app-content .msg-block,
  body.property-list-page .app-content .msg-block,
  body.agency-list .app-content .msg-block {
    padding: 30px 20px;
    font-size: 18px;
  }
}

body.bookmark-list .app-content .msg-block i.fa,
body.history-list .app-content .msg-block i.fa,
body.map-page .app-content .msg-block i.fa,
body.property-list-page .app-content .msg-block i.fa,
body.agency-list .app-content .msg-block i.fa {
  font-size: 45px;
  vertical-align: middle;
  padding-right: 10px;
}

@media screen and (max-width: 768px) {
  body.bookmark-list .app-content .msg-block i.fa,
  body.history-list .app-content .msg-block i.fa,
  body.map-page .app-content .msg-block i.fa,
  body.property-list-page .app-content .msg-block i.fa,
  body.agency-list .app-content .msg-block i.fa {
    font-size: 30px;
  }
}

body.bookmark-list .app-content .msg-block strong,
body.history-list .app-content .msg-block strong,
body.map-page .app-content .msg-block strong,
body.property-list-page .app-content .msg-block strong,
body.agency-list .app-content .msg-block strong {
  vertical-align: middle;
}

@media print {
  body.bookmark-list .footer,
  body.history-list .footer,
  body.map-page .footer,
  body.property-list-page .footer,
  body.agency-list .footer {
    display: none;
  }
}

#kodawariModal {
  z-index: 1500;
}

#areaDetailModal .search-btn,
#kodawariModal .search-btn,
.toolbar .search-btn,
.sm-toolbar .search-btn,
.kodawari-condition .search-btn {
  padding-left: 40px;
  padding-right: 40px;
}

#leafletModal .form-type-image {
  max-height: 94px;
  pointer-events: none;
}

#featureDesctiptionModal .modal-body .feature-description-text {
  font-size: 11pt;
  text-align: left;
}

#madoriModal .madori-description {
  font-size: 11pt;
  text-align: left;
}

#madoriModal .madori-table {
  width: 250px;
  border: solid 1px #dee3e8;
}

#madoriModal .madori-table td {
  border: solid 1px #dee3e8;
  text-align: center;
  vertical-align: middle;
  font-size: 10pt;
  color: #303050;
}

#madoriModal .madori-table td.madori-header {
  text-align: left;
  font-weight: bolder;
  background-color: #F1F4F7;
}

.detail-nav .navbar-nav .app-nav__item {
  padding: 10px 20px;
  margin-top: 0;
}

.page-close {
  background-color: #000;
  font-size: 0.9rem;
  color: #fff;
  margin-top: 0;
  padding: 24px;
}

@media (max-width: 400px) {
  .page-close {
    padding: 24px 10px;
  }
}

.page-close:hover {
  background-color: black;
}

.page-close i {
  padding-right: 5px;
}

@media (max-width: 480px) {
  .remove-px {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}

.badge-icon-update {
  color: #FFF;
  background-color: #0f3b55;
}

.badge-icon-new {
  color: #FFF;
  background-color: #fa5882;
}

.text-underline {
  text-decoration: underline !important;
}
